<!-- Error -->
<app-info-card [hidden]="error === null" typeClass="card-failure">
    <div>{{ error }}</div>
</app-info-card>

<!-- Upload -->
<div class="mb-2">
    <app-configuration-upload [configurationNameObservable]="this.algorithmService.stepConfig" [disabled]="disabled">
    </app-configuration-upload>
</div>

<h3>Algorithm Selection</h3>

<app-configuration-selection #selection [algorithms]="algorithms" [disabled]="disabled" (change)="updateSelectCache()">
</app-configuration-selection>

<h3>Algorithm Configuration</h3>

<div *ngIf="!selection.selectedOption; else configurationForms" id="placeholder" class="w-100 mt-4">
    <div class="ms-auto me-auto" style="width: fit-content">
        Please select an algorithm
    </div>
</div>
<ng-template #configurationForms>
    <div *ngFor="let item of algorithms" [id]="item">
        <ng-container *ngIf="selection.selectedOption.name === item.name">
            <p>{{ item.description }}</p>

            <app-configuration-form #form [algorithm]="item" [disabled]="disabled" (onChange)="updateConfigCache()"
                                    (submitConfiguration)="onSubmit($event)">
            </app-configuration-form>
        </ng-container>
    </div>
</ng-template>

<div class="mt-2">
    <button type="submit" mat-raised-button color="primary" (click)="skip()">
        Skip
    </button>
</div>

