<app-info-card [hidden]="error === null" typeClass="card-failure">
    <div>{{ error }}</div>
</app-info-card>

<!-- Upload -->
<div class="mb-2">
    <app-configuration-upload [configurationNameObservable]="this.anonService.stepConfig" [disabled]="disabled">
    </app-configuration-upload>
</div>

<h3>Algorithm Selection</h3>

<app-configuration-selection #selection [algorithms]="algorithms" [disabled]="disabled"></app-configuration-selection>

<h3>Algorithm Configuration</h3>

<div *ngIf="!selection.selectedOption; else configurationForms" id="placeholder" class="w-100 mt-4">
    <div class="ms-auto me-auto" style="width: fit-content">
        Please select an algorithm
    </div>
</div>
<ng-template #configurationForms>
    <div *ngFor="let item of algorithms" [id]="item">
        <ng-container *ngIf="selection.selectedOption.name === item.name">
            <p>{{ item.description }}</p>

            <app-configuration-form #form [algorithmName]="item.name" [algorithm]="item" [disabled]="disabled"
                                    (submitConfiguration)="onSubmit($event)">
            </app-configuration-form>
        </ng-container>
    </div>
</ng-template>

<div>
    <span class="status mt-2" [ngClass]="processStatus">
        <span>{{ processStatus.replace("_", " ") }}</span>
    </span>
    <table>
        <thead>
        <th>Step</th>
        <th>Finished</th>
        <th>Time</th>
        </thead>
        <tbody>
        <tr>
            <td>Initialization</td>
            <td>{{ synthProcess?.status?.initialization?.completed }}</td>
            <td> {{ (synthProcess?.status?.initialization?.completed === "True") ? synthProcess?.status?.initialization?.duration : synthProcess?.status?.initialization?.remaining_time }}</td>
        </tr>
        <tr>
            <td>Fitting</td>
            <td>{{ synthProcess?.status?.fitting?.completed }}</td>
            <td> {{ (synthProcess?.status?.fitting?.completed === "True") ? synthProcess?.status?.fitting?.duration :  synthProcess?.status?.fitting?.remaining_time }}</td>
        </tr>
        <tr>
            <td>Sampling</td>
            <td>{{ synthProcess?.status?.sampling?.completed }}</td>
            <td> {{ (synthProcess?.status?.sampling?.completed === "True") ? synthProcess?.status?.sampling?.duration : synthProcess?.status?.sampling?.remaining_time }}</td>
        </tr>
        <tr>
            <td>Callback</td>
            <td>{{ synthProcess?.status?.callback?.completed }}</td>
            <td> {{ (synthProcess?.status?.callback?.completed === "True") ? synthProcess?.status?.callback?.duration : synthProcess?.status?.callback?.remaining_time }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="mt-2">
    <button type="submit" mat-raised-button color="primary" [disabled]="!disabled" (click)="cancel()">
        Cancel Algorithm
    </button>
</div>
<!-- TODO remove -->
<div class="mt-2">
    <button type="submit" mat-raised-button color="primary" (click)="downloadResult()">
        Download
    </button>
</div>
