<app-info-card [hidden]="error === null" typeClass="card-failure">
    <div>{{ error }}</div>
</app-info-card>

<h3>Algorithm Selection</h3>

<app-configuration-selection #selection [options]="Object.keys(defs)"></app-configuration-selection>



<h3>Algorithm Configuration</h3>

<div *ngIf="!selection.selectedOption" id="placeholder" class="w-100 mt-4">
    <div class="ms-auto me-auto" style="width: fit-content">
        Please select an algorithm
    </div>
</div>

<div *ngFor="let item of defs | keyvalue" [id]="item.key">
    <ng-container *ngIf="selection.selectedOption === item.key">
        <p>{{ item.value.description }} </p>

        <app-configuration-form [formDefinition]="item.value.model_parameter" (submitConfiguration)="onSubmit($event)">
        </app-configuration-form>
    </ng-container>

</div>
