<div class="mt-2" style="padding-top: 20px !important;">
    <!-- Flex in rows -->
    <div style="width: 100%; display: flex; flex-direction: column; gap: 0.5rem;">
        <!-- First row -->
        <div style="width: 100%; display: flex; flex-direction: row; gap: 0.5rem;">

            <div class="metric-wrapper">
                <div class="metric-name">
                    Attribute Information
                </div>
                <div>
                    <table>
                        <tr>
                            <th>Index:</th>
                            <td>{{ attributeStatistics.attribute_information.index }}</td>
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td>{{ attributeStatistics.attribute_information.name }}</td>
                        </tr>
                        <tr>
                            <th>Type:</th>
                            <td>{{ attributeStatistics.attribute_information.type }}</td>
                        </tr>
                        <tr>
                            <th>Scale:</th>
                            <td>{{ attributeStatistics.attribute_information.scale }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="metric-wrapper" style="flex-grow: 1;">
                <div class="metric-name">
                    Important Statistical Metrics
                </div>

                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <table style="display: block;">
                        <tr>
                            <th>Distinct Values:</th>
                            <ng-template [ngIf]="attributeStatistics.important_metrics.distinct_values" [ngIfElse]="notAvailable">
                                <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.distinct_values.values.real) }}
                                </td>
                            </ng-template>
                        </tr>
                        <tr>
                            <th>Mode:</th>
                            <ng-template [ngIf]="attributeStatistics.important_metrics.mode" [ngIfElse]="notAvailable">
                                <td>{{ attributeStatistics.important_metrics.mode.values.real }}
                                </td>
                            </ng-template>
                        </tr>
                        <tr>
                            <th>Mean:</th>
                            <ng-template [ngIf]="attributeStatistics.important_metrics.mean" [ngIfElse]="notAvailable">
                                <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.mean.values.real) }}</td>
                            </ng-template>
                        </tr>
                        <tr>
                            <th>Variance:</th>
                            <ng-template [ngIf]="attributeStatistics.important_metrics.variance" [ngIfElse]="notAvailable">
                                <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.variance.values.real) }}</td>
                            </ng-template>
                        </tr>
                        <tr>
                            <th>Standard Deviation:</th>
                            <ng-template [ngIf]="attributeStatistics.important_metrics.standard_deviation" [ngIfElse]="notAvailable">
                                <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.standard_deviation.values.real) }}</td>
                            </ng-template>
                        </tr>
                    </table>
                    <table style="display: block;">
                    <tr>
                        <th>Minimum:</th>
                        <ng-template [ngIf]="attributeStatistics.important_metrics.minimum" [ngIfElse]="notAvailable">
                            <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.minimum.values.real, {dataType}) }}</td>
                        </ng-template>
                    </tr>
                    <tr>
                        <th>Maximum:</th>
                        <ng-template [ngIf]="attributeStatistics.important_metrics.maximum" [ngIfElse]="notAvailable">
                            <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.maximum.values.real, {dataType}) }}</td>
                        </ng-template>
                    </tr>
                    <tr>
                        <th>Missing values (#):</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.missing_values_count.values.real) }}</td>
                    </tr>
                    <tr>
                        <th>Missing values (%):</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.missing_values_percentage.values.real) }}</td>
                    </tr>
                    </table>
                </div>

            </div>
        </div>


        <div class="metric-wrapper">

            <div class="metric-name">
                <ng-container *ngIf="attributeStatistics.plot.density">
                    Density/Histogram
                </ng-container>
                <ng-container *ngIf="attributeStatistics.plot.frequency_count">
                    Frequency
                </ng-container>
            </div>
            <div class="w-100 h-100">
                <ng-container *ngIf="attributeStatistics.plot.density; else frequency">
                    <div style="margin-top: .5rem;">
                        <app-chart-select [dataType]="attributeStatistics.attribute_information.type" [(graph)]="graphType"></app-chart-select>

                        <ng-container *ngIf="graphType === 'density'">
                            <app-chart-density [columnConfiguration]="attributeStatistics.attribute_information"
                                               [data]="attributeStatistics.plot.density"></app-chart-density>
                        </ng-container>
                        <ng-container *ngIf="graphType === 'histogram'">
                            <app-chart-frequency [data]="attributeStatistics.plot.histogram!" [limit]="null"></app-chart-frequency>
                        </ng-container>

                        <ng-container *ngIf="attributeStatistics.attribute_information.type === DataType.DATE && graphType === 'heatmap'">
                            <app-chart-calendar [data]="attributeStatistics.plot.density"></app-chart-calendar>
                        </ng-container>
                    </div>

                </ng-container>
                <ng-template #frequency>
                    <ng-container *ngIf="attributeStatistics.plot.frequency_count; else noChart">
                        <app-chart-frequency [data]="attributeStatistics.plot.frequency_count" [limit]="null"></app-chart-frequency>
                    </ng-container>
                </ng-template>
                <ng-template #noChart>
                </ng-template>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; gap: 0.5rem;">
            <div style="display: flex; flex-direction: column; gap: 0.5rem; flex-grow: 1; flex-basis: 50%;">
                <ng-container *ngTemplateOutlet="metric; context: {data: attributeStatistics.details.fifth_percentile, name: '5th Percentile'}">
                </ng-container>

                <ng-container *ngTemplateOutlet="metric; context: {data: attributeStatistics.details.q1, name: 'Q1'}">
                </ng-container>

                <ng-container *ngTemplateOutlet="metric; context: {data: attributeStatistics.details.median, name: 'Median'}">
                </ng-container>

                <ng-container *ngTemplateOutlet="metric; context: {data: attributeStatistics.details.q3, name: 'Q3'}">
                </ng-container>

                <ng-container *ngTemplateOutlet="metric; context: {data: attributeStatistics.details.ninety_fifth_percentile, name: '95th Percentile'}">
                </ng-container>

                <ng-container *ngTemplateOutlet="metric; context: {data: attributeStatistics.details.skewness, name: 'Skewness'}">
                </ng-container>

                <ng-container *ngTemplateOutlet="metric; context: {data: attributeStatistics.details.kurtosis, name: 'Kurtosis'}">
                </ng-container>

                <ng-container *ngTemplateOutlet="metric; context: {data: attributeStatistics.details.kurtosis, name: 'Kurtosis'}">
                </ng-container>

                <div class="metric-wrapper">
                    <div class="metric-name">
                        Kolmogorov-Smirnov
                    </div>
                    <table *ngIf="attributeStatistics.details && attributeStatistics.details.kolmogorov_smirnov; else notAvailable" class="metric-table">
                        <tr>
                            <th>KS Statistic</th>
                            <td>{{ attributeStatistics.details.kolmogorov_smirnov.values.real.KS_statistic }}</td>
                        </tr>
                        <tr>
                            <th>p_value</th>
                            <td>{{ attributeStatistics.details.kolmogorov_smirnov.values.real.p_value }}</td>
                        </tr>
                    </table>
                </div>

                <div class="metric-wrapper">
                    <div class="metric-name">
                        Hellinger Distance
                    </div>
                    <table *ngIf="attributeStatistics.details && attributeStatistics.details.hellinger_distance; else notAvailable" class="metric-table">
                        <tr>
                            <th>Value</th>
                            <td>{{ attributeStatistics.details.hellinger_distance.values.real.hellinger_distance }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                <div class="metric-wrapper" style="height: 100%;">

                    <div class="metric-name">
                        Values
                    </div>

                    <app-data-table step="validation" [columnIndex]="attributeStatistics.attribute_information.index"></app-data-table>
                </div>
            </div>

        </div>



        <ng-container *ngTemplateOutlet="metricComparison; context: {data: attributeStatistics.important_metrics.mean, name: 'Mean'}">
        </ng-container>
        <ng-container *ngTemplateOutlet="metricComparison; context: {data: attributeStatistics.details.fifth_percentile, name: '5th Percentile'}">
        </ng-container>
        <ng-container *ngTemplateOutlet="metricComparison; context: {data: attributeStatistics.details.q1, name: 'Q1'}">
        </ng-container>
        <ng-container *ngTemplateOutlet="metricComparison; context: {data: attributeStatistics.details.median, name: 'Median'}">
        </ng-container>
        <ng-container *ngTemplateOutlet="metricComparison; context: {data: attributeStatistics.details.q3, name: 'Q3'}">
        </ng-container>
        <ng-container *ngTemplateOutlet="metricComparison; context: {data: attributeStatistics.details.ninety_fifth_percentile, name: '95th Percentile'}">
        </ng-container>
        <ng-container *ngTemplateOutlet="metricComparison; context: {data: attributeStatistics.details.skewness, name: 'Skewness'}">
        </ng-container>
        <ng-container *ngTemplateOutlet="metricComparison; context: {data: attributeStatistics.details.kurtosis, name: 'Kurtosis'}">
        </ng-container>
        <div class="metric-wrapper">
            <div class="metric-name">
                Kolmogorov-Smirnov
            </div>
            <div style="display: flex; width: 100%;"
                 *ngIf="attributeStatistics.details && attributeStatistics.details.kolmogorov_smirnov as sm; else notAvailable">

                <div [style.background-color]="colors[ksIndex(sm.values)]"
                     style="width: 10px; border-radius: 6px; margin-right: .5rem; margin-bottom: 2px; margin-top: 2px;">
                </div>
                <table class="metric-table">
                    <tr>
                        <th></th>
                        <th>Real</th>
                        <th>Synth</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>KS Statistic</th>
                        <td>{{ sm.values.real.KS_statistic }}</td>
                        <td>{{ sm.values.synthetic.KS_statistic }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>p_value</th>
                        <td>{{ sm.values.real.p_value }}</td>
                        <td>{{ sm.values.synthetic.p_value }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="metric-wrapper">
            <div class="metric-name">
                Hellinger Distance
            </div>
            <table *ngIf="attributeStatistics.details && attributeStatistics.details.hellinger_distance as hd; else notAvailable" class="metric-table">
                <tr>
                    <th></th>
                    <th>Real</th>
                    <th>Synth</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Value</th>
                    <td>{{ hd.values.real.hellinger_distance }}</td>
                    <td>{{ hd.values.synthetic.hellinger_distance }}</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

    </div>
</div>

<ng-template #metric let-data='data' let-name='name'>
    <div class="metric-wrapper">
        <div class="metric-name">
            {{ name }}
        </div>
        <table *ngIf="data; else notAvailable" class="metric-table">
            <tr>
<!--                <th>{{ name }}</th>-->
                <th>Value</th>
                <td>{{ statisticsService.formatNumber(data.values.real) }}</td>
            </tr>
        </table>
    </div>
</ng-template>

<ng-template #metricComparison let-data='data' let-name='name'>
    <div class="metric-wrapper">
        <div class="metric-name">
            {{ name }}
        </div>
        <div style="display: flex; width: 100%;">
            <div *ngIf="data" [style.background-color]="colors[data.difference.color_index]"
                 style="width: 10px; border-radius: 6px; margin-right: .5rem; margin-bottom: 2px; margin-top: 2px;">
            </div>
            <div style="width: 100%;">
                <ng-container *ngTemplateOutlet="table; context: {data: data, name: name}">
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #table let-data='data' let-name='name'>
    <table *ngIf="data; else notAvailable" class="metric-table">
        <tr>
            <th></th>
            <th>Real</th>
            <th>Synth</th>
            <th>Diff (#)</th>
            <th>Diff (%)</th>
        </tr>
        <tr>
<!--            <th>{{ name }}</th>-->
            <th>Value</th>
            <td>{{ statisticsService.formatNumber(data.values.real) }}</td>
            <td>{{ statisticsService.formatNumber(data.values.synthetic) }}</td>
            <td>{{ statisticsService.formatNumber(data.difference.absolute) }}</td>
            <td>{{ data.difference.percentage }} %</td>
        </tr>
    </table>
</ng-template>

<ng-template #notAvailable>
    <td>
        N/A
    </td>
</ng-template>
