th, td {
    padding-right: 1.5rem;
}

.metric-wrapper {
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0 1px 5px 0;
}

.metric-name {
    border-bottom: 1px solid black;
    font-weight: bold;
    padding-bottom: 0.4rem;
}

.metric-table {
    width: 100%;
}

.metric-table > tr > th,
.metric-table > tr > td {
	height: 2rem;
	padding: 0.4rem 0.6rem !important;
}

.metric-table > tr {
    width: 100%;
}

.metric-table-single > tr > th:first-child,
.metric-table-comparison > tr > th:nth-child(2) {
    width: 20%;
    min-width: 8rem;
}

.metric-table > tr > th:not(:first-child) {
    width: 20%;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}
