th, td {
    padding-right: 2rem;
}

.metric-wrapper {
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0 1px 5px 0;
}

.metric-name {
    border-bottom: 1px solid black;
    font-weight: bold;
    padding-bottom: 0.4rem;
}
