<div class="mt-2" style="padding-top: 20px !important;">
    <!-- Flex in rows -->
    <div style="width: 100%; display: flex; flex-direction: column; gap: 0.5rem;">
        <!-- First row -->
        <div style="width: 100%; display: flex; flex-direction: row; gap: 0.5rem;">

            <div class="metric-wrapper">
                <div class="metric-name">
                    Attribute Information
                </div>
                <div>
                    <table>
                        <tr>
                            <th>Index:</th>
                            <td>{{ attributeStatistics.attribute_information.index }}</td>
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td>{{ attributeStatistics.attribute_information.name }}</td>
                        </tr>
                        <tr>
                            <th>Type:</th>
                            <td>{{ attributeStatistics.attribute_information.type }}</td>
                        </tr>
                        <tr>
                            <th>Scale:</th>
                            <td>{{ attributeStatistics.attribute_information.scale }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="metric-wrapper" style="flex-grow: 1;">
                <div class="metric-name">
                    Important Statistical Metrics
                </div>

                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <table style="display: block;">
                        <tr>
                            <th>Distinct Values:</th>
                            <ng-template [ngIf]="attributeStatistics.important_metrics.distinct_values" [ngIfElse]="notAvailable">
                                <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.distinct_values.values[mainData]) }}
                                </td>
                            </ng-template>
                        </tr>
                        <tr>
                            <th>Mode:</th>
                            <ng-template [ngIf]="attributeStatistics.important_metrics.mode" [ngIfElse]="notAvailable">
                                <td>{{ attributeStatistics.important_metrics.mode.values[mainData] }}
                                </td>
                            </ng-template>
                        </tr>
                        <tr>
                            <th>Mean:</th>
                            <ng-template [ngIf]="attributeStatistics.important_metrics.mean" [ngIfElse]="notAvailable">
                                <td>{{
                                        statisticsService.formatNumber(attributeStatistics.important_metrics.mean.values[mainData], {
                                            max: 3,
                                            min: 3
                                        })
                                    }}
                                </td>
                            </ng-template>
                        </tr>
                        <tr>
                            <th>Variance:</th>
                            <ng-template [ngIf]="attributeStatistics.important_metrics.variance" [ngIfElse]="notAvailable">
                                <td>{{
                                        statisticsService.formatNumber(attributeStatistics.important_metrics.variance.values[mainData], {
                                            max: 3,
                                            min: 3
                                        })
                                    }}
                                </td>
                            </ng-template>
                        </tr>
                        <tr>
                            <th>Standard Deviation:</th>
                            <ng-template [ngIf]="attributeStatistics.important_metrics.standard_deviation" [ngIfElse]="notAvailable">
                                <td>{{
                                        statisticsService.formatNumber(attributeStatistics.important_metrics.standard_deviation.values[mainData], {
                                            max: 3,
                                            min: 3
                                        })
                                    }}
                                </td>
                            </ng-template>
                        </tr>
                    </table>
                    <table style="display: block;">
                    <tr>
                        <th>Minimum:</th>
                        <ng-template [ngIf]="attributeStatistics.important_metrics.minimum" [ngIfElse]="notAvailable">
                            <td>{{
                                    statisticsService.formatNumber(attributeStatistics.important_metrics.minimum.values[mainData], {
                                        dataType,
                                        max: 3,
                                        min: 3
                                    })
                                }}
                            </td>
                        </ng-template>
                    </tr>
                    <tr>
                        <th>Maximum:</th>
                        <ng-template [ngIf]="attributeStatistics.important_metrics.maximum" [ngIfElse]="notAvailable">
                            <td>{{
                                    statisticsService.formatNumber(attributeStatistics.important_metrics.maximum.values[mainData], {
                                        dataType,
                                        max: 3,
                                        min: 3
                                    })
                                }}
                            </td>
                        </ng-template>
                    </tr>
                    <tr>
                        <th>Missing values (#):</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.missing_values_count.values[mainData]) }}</td>
                    </tr>
                    <tr>
                        <th>Missing values (%):</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.missing_values_percentage.values[mainData], {max: 3, min: 3}) }}</td>
                    </tr>
                    </table>
                </div>

            </div>
        </div>


        <div class="metric-wrapper">

            <div class="metric-name">
                <ng-container *ngIf="attributeStatistics.plot.density">
                    Density/Histogram
                </ng-container>
                <ng-container *ngIf="attributeStatistics.plot.frequency_plot">
                    Frequency
                </ng-container>
            </div>
            <div class="w-100 h-100">
                <ng-container *ngIf="attributeStatistics.plot.density; else frequency">
                    <div style="margin-top: .5rem;">
                        <app-chart-select [dataType]="attributeStatistics.attribute_information.type" [(graph)]="graphType"></app-chart-select>

                        <ng-container *ngIf="graphType === 'density'">
                            <app-chart-density [columnConfiguration]="attributeStatistics.attribute_information"
                                               [data]="attributeStatistics.plot.density"></app-chart-density>
                        </ng-container>
                        <ng-container *ngIf="graphType === 'histogram'">
                            <app-chart-frequency [data]="attributeStatistics.plot.histogram!" [limit]="null"></app-chart-frequency>
                        </ng-container>

                        <ng-container *ngIf="attributeStatistics.attribute_information.type === DataType.DATE && graphType === 'heatmap'">
                            <app-chart-calendar [data]="attributeStatistics.plot.density"></app-chart-calendar>
                        </ng-container>
                    </div>

                </ng-container>
                <ng-template #frequency>
                    <ng-container *ngIf="attributeStatistics.plot.frequency_plot; else noChart">
                        <app-chart-frequency [data]="attributeStatistics.plot.frequency_plot" [limit]="null"></app-chart-frequency>
                    </ng-container>
                </ng-template>
                <ng-template #noChart>
                </ng-template>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; gap: 0.5rem;">


            <div *ngIf="!hasSynthetic" class="metric-wrapper" style="flex-grow: 1; flex-basis: 50%;">

                <div class="metric-name">
                    Additional Metrics
                </div>

                <ng-container *ngTemplateOutlet="metricSearch"></ng-container>

                <table class="metric-table metric-table-single">
                    <tr class="no-select">
                        <ng-container *ngTemplateOutlet="sortColumn; context: {name: 'Metric', type: 'metric'}"></ng-container>
                        <th>Value</th>
                    </tr>
                    <ng-container
                        *ngFor="let metricData of getDetailMetrics() | metricFilter:metricFilterText | metricSorter:metricSortDirection:metricSortColumn">
                        <ng-container *ngTemplateOutlet="metric; context: {data: metricData}">
                        </ng-container>
                    </ng-container>
                </table>

            </div>

            <div *ngIf="hasSynthetic" class="metric-wrapper" style="height: 100%; flex-shrink: 1; flex-basis: 50%;">
                <div class="metric-name">
                    Original Values
                </div>

                <app-data-table sourceDataset="VALIDATION"
                                [columnIndex]="attributeStatistics.attribute_information.index"></app-data-table>
            </div>

            <div class="metric-wrapper" style="height: 100%; flex-shrink: 1; flex-basis: 50%;">

                <div class="metric-name">
                    Values
                </div>

                <app-data-table [sourceDataset]="sourceDataset" [sourceProcess]="sourceProcess"
                                [columnIndex]="attributeStatistics.attribute_information.index"></app-data-table>
            </div>

        </div>

        <ng-container *ngIf="hasSynthetic">

            <div class="metric-wrapper">

                <div class="metric-name">
                    Metric Comparison
                </div>

                <ng-container *ngTemplateOutlet="metricSearch"></ng-container>

                <table class="metric-table metric-table-comparison">
                    <tr>
                        <ng-container *ngTemplateOutlet="sortColumn; context: {name: 'Status', type: 'colorIndex'}"></ng-container>
                        <ng-container *ngTemplateOutlet="sortColumn; context: {name: 'Metric', type: 'metric'}"></ng-container>
                        <th>Real</th>
                        <th>Synth</th>
                        <ng-container *ngTemplateOutlet="sortColumn; context: {name: 'Diff (#)', type: 'absolute'}"></ng-container>
                        <ng-container *ngTemplateOutlet="sortColumn; context: {name: 'Diff (%)', type: 'percentage'}"></ng-container>
                    </tr>

                    <ng-container
                        *ngFor="let metricData of getAllMetrics() | metricFilter:metricFilterText | metricSorter:metricSortDirection:metricSortColumn">
                        <ng-container *ngTemplateOutlet="metricComparison; context: {data: metricData}">
                        </ng-container>
                    </ng-container>
                </table>
            </div>

        </ng-container>

    </div>
</div>

<ng-template #metric let-data='data'>
    <tr>
        <td>{{ data.display_name }}</td>
        <td>{{ statisticsService.formatNumber(getValue(data.values, mainData)) }}</td>
    </tr>
</ng-template>

<ng-template #metricComparison let-data='data'>
    <tr>
        <td>
            <div *ngIf="data && data.difference"
                  [style.background-color]="statisticsService.colors[getColorIndex(data)]"
                  style="width: 10px; height: 100%; border-radius: 6px; margin-right: .5rem; margin-bottom: 2px; margin-top: 2px;">
            </div>
        </td>
        <td>{{ data.display_name }}</td>
        <td>{{ statisticsService.formatNumber(getValue(data.values, 'real')) }}</td>
        <td>{{ statisticsService.formatNumber(getValue(data.values, 'synthetic')) }}</td>
        <td>{{ statisticsService.formatNumber(getDifference(data, 'absolute')) }}</td>
        <td>{{ statisticsService.formatNumber(getDifference(data, 'percentage')) }}</td>
    </tr>
</ng-template>

<ng-template #notAvailable>
    <td>
        N/A
    </td>
</ng-template>

<ng-template #metricSearch>
    <mat-form-field class="w-100">
        <mat-label>Search</mat-label>
        <input type="text" matInput [(ngModel)]="metricFilterText"/>
        <button mat-icon-button matSuffix *ngIf="metricFilterText" (click)="metricFilterText=''">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
</ng-template>

<ng-template #sortColumn let-name="name" let-type="type">
    <th (click)="sort(type)" style="min-width: 6rem;">
        <div style="display: flex">
            <span>{{ name }}</span>
            <span *ngIf="metricSortColumn === type" style="margin-left: auto; margin-bottom: -7px;">
                <mat-icon *ngIf="metricSortDirection === 'asc'">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="metricSortDirection === 'desc'">arrow_drop_down</mat-icon>
            </span>
        </div>
    </th>
</ng-template>
