<div class="mt-2" style="padding-top: 20px !important;">
    <div style="width: 100%; display: flex; flex-direction: column; gap: 0.5rem;">
        <div class="metric-wrapper">
            <div class="metric-name">
                Attribute Information
            </div>
            <div>
                <table>
                    <tr>
                        <th>Index:</th>
                        <td>{{ attributeStatistics.attribute_information.index }}</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>{{ attributeStatistics.attribute_information.name }}</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>{{ attributeStatistics.attribute_information.type }}</td>
                    </tr>
                    <tr>
                        <th>Scale:</th>
                        <td>{{ attributeStatistics.attribute_information.scale }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="metric-wrapper">
            <div class="metric-name">
                Important Statistical Metrics
            </div>

            <table>
                <tr>
                    <th>Missing values:</th>
                    <td>{{ attributeStatistics.important_metrics.missing_values_count.real | number: '1.0-0' }}
                        ({{ attributeStatistics.important_metrics.missing_values_percentage.real | number: '1.0-2' }} %)
                    </td>
                </tr>
                <tr>
                    <th>Ranges:</th>
                    <ng-template [ngIf]="attributeStatistics.important_metrics.ranges" [ngIfElse]="notAvailable">
                        <td *ngIf="attributeStatistics.attribute_information.type === 'DATE' || attributeStatistics.attribute_information.type === 'DATE_TIME'; else numericRange">
                            {{ statisticsService.formatDate(attributeStatistics.important_metrics.ranges.real.min, attributeStatistics.attribute_information.type) }}
                            <br>
                            - {{ statisticsService.formatDate(attributeStatistics.important_metrics.ranges.real.max, attributeStatistics.attribute_information.type) }}
                        </td>
                        <ng-template #numericRange>
                            <td>{{ attributeStatistics.important_metrics.ranges.real.min | number: '1.0-3' }}
                                - {{ attributeStatistics.important_metrics.ranges.real.max | number: '1.0-3'  }}
                            </td>
                        </ng-template>
                    </ng-template>
                </tr>
                <tr>
                    <th>Distinct Values:</th>
                    <ng-template [ngIf]="attributeStatistics.important_metrics.distinct_values" [ngIfElse]="notAvailable">
                        <td>{{ attributeStatistics.important_metrics.distinct_values.real | number: '1.0-3' }}
                        </td>
                    </ng-template>
                </tr>
                <tr>
                    <th>Mode:</th>
                    <ng-template [ngIf]="attributeStatistics.important_metrics.mode" [ngIfElse]="notAvailable">
                        <td>{{ attributeStatistics.important_metrics.mode.real }}
                        </td>
                    </ng-template>
                </tr>
                <tr>
                    <th>Mean:</th>
                    <ng-template [ngIf]="attributeStatistics.important_metrics.mean" [ngIfElse]="notAvailable">
                        <td>{{ attributeStatistics.important_metrics.mean.real | number: '1.0-3' }}</td>
                    </ng-template>
                </tr>
                <tr>
                    <th>Variance:</th>
                    <ng-template [ngIf]="attributeStatistics.important_metrics.variance" [ngIfElse]="notAvailable">
                        <td>{{ attributeStatistics.important_metrics.variance.real | number: '1.0-3' }}</td>
                    </ng-template>
                </tr>
                <tr>
                    <th>Standard Deviation:</th>
                    <ng-template [ngIf]="attributeStatistics.important_metrics.standard_deviation" [ngIfElse]="notAvailable">
                        <td>{{ attributeStatistics.important_metrics.standard_deviation.real | number: '1.0-3' }}</td>
                    </ng-template>
                </tr>
            </table>
        </div>

        <div class="metric-wrapper">

            <div class="metric-name">
                Density/ Frequency
            </div>
            <div class="w-100 h-100">
                <ng-container *ngIf="attributeStatistics.plot.density; else frequency">
                    <app-chart-density [columnConfiguration]="attributeStatistics.attribute_information"
                                       [data]="attributeStatistics.plot.density"></app-chart-density>
                </ng-container>
                <ng-template #frequency>
                    <ng-container *ngIf="attributeStatistics.plot.frequency_count; else noChart">
                        <app-chart-frequency [data]="attributeStatistics.plot.frequency_count"></app-chart-frequency>
                    </ng-container>
                </ng-template>
                <ng-template #noChart>
                </ng-template>
            </div>

        </div>


        <div class="metric-wrapper">
            <div class="metric-name">
                Quantiles
            </div>
            <table *ngIf="attributeStatistics.details && attributeStatistics.details.quantiles; else notAvailable">
                <tr>
                    <th>5th Percentile</th>
                    <td>{{ attributeStatistics.details.quantiles.real["5-th Percentile"] }}</td>
                </tr>
                <tr>
                    <th>Q1</th>
                    <td>{{ attributeStatistics.details.quantiles.real.Q1 }}</td>
                </tr>
                <tr>
                    <th>Median</th>
                    <td>{{ attributeStatistics.details.quantiles.real.Median }}</td>
                </tr>
                <tr>
                    <th>Q3</th>
                    <td>{{ attributeStatistics.details.quantiles.real.Q3 }}</td>
                </tr>
                <tr>
                    <th>95th Percentile</th>
                    <td>{{ attributeStatistics.details.quantiles.real["95-th Percentile"] }}</td>
                </tr>
            </table>
        </div>

        <div class="metric-wrapper">
            <div class="metric-name">
                Skewness
            </div>
            <table *ngIf="attributeStatistics.details && attributeStatistics.details.skewness; else notAvailable">
                <tr>
                    <th>Skewness</th>
                    <td>{{ attributeStatistics.details.skewness.real }}</td>
                </tr>
            </table>
        </div>

        <div class="metric-wrapper">
            <div class="metric-name">
                Kurtosis
            </div>
            <table *ngIf="attributeStatistics.details && attributeStatistics.details.kurtosis; else notAvailable">
                <tr>
                    <th>Kurtosis</th>
                    <td>{{ attributeStatistics.details.kurtosis.real }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<ng-template #notAvailable>
    <td>
        N/A
    </td>
</ng-template>
