#flexWrap {
    display: flex; 
    min-width: 100%; 
}

#tableWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#tableHeader,
#tableContent {
    flex: 1;
    max-width: 100%;
}