<div>
    <div>Upload an existing configuration:</div>
    <div class="btn-group">
        <div class="px-1">
            <button mat-raised-button color="primary" (click)="openDialog(configurationUpload)" [disabled]="disabled">
                Upload
            </button>
        </div>
    </div>
</div>

<ng-template #configurationUpload>
    <mat-dialog-content class="mat-typography">
        <div>Select a file to upload</div>

        <div class="mb-2">
            <input type="file" accept=".yml,.yaml" (input)="updateUploadButton($event);">

            <div class="cinnamon-file-input-error" *ngIf="isFileTypeInvalid">
                Please select a YAML file.
            </div>
        </div>
        <div *ngIf="configurationName !== null">
            <div>Click to upload</div>
            <div>
                <button mat-raised-button color="primary" (click)="uploadConfiguration()" [disabled]="!hasFile || isFileTypeInvalid">
                    <mat-icon>file_upload</mat-icon>
                    Upload
                </button>
            </div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="primary">Close</button>
    </mat-dialog-actions>
</ng-template>
