<app-workstep-box *ngIf="status$ | async as status;" title="Welcome to Cinnamon">

    <p>This tool is designed to anonymize your data by providing methods both for direct
        anonymization as well as data generation with synthetic methods.</p>

    <p>The application will guide you through the different steps, that are shown on the left side of the screen.
        Completed steps will be marked accordingly. The steps can be grouped into three categories: </p>

    <ul>
        <li>Upload of the data</li>
        <li>Configuration and execution of the anonymization</li>
        <li>Evaluation of the anonymized data</li>
    </ul>

    <p>During the data upload, the metadata for the source data is configured.
        The anonymization and evaluation is precede by two configuration pages for configuring the algorithms.
        Elements will be marked by
        <mat-icon fontIcon="info" style="vertical-align: bottom;"></mat-icon>
        if they have an explanation attached to them.
        It is possible to always switch back to completed steps, to adjust the configuration. Be aware that this will
        delete the results of completed steps following the modified configuration.
    </p>

    <h3 class="mt-2">Please choose the preferred level of guidance: </h3>

    <p>
        Cinnamon provides to different levels of guidance.
        You can go back to this page and change your decision at any time during the workflow.
    </p>

    <div class="d-flex justify-content-between">
        <mat-card class="me-2 w-50" [class.cinnamon-selected-mode]="status.mode === Mode.STANDARD"
                  [class.cinnamon-unselected-mode]="status.mode !== Mode.STANDARD"
                  (click)="selectMode(Mode.STANDARD);"          
        >
            <mat-card-header>
                <mat-card-title>Extensive Guidance</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    Extensive guidance is designed for inexperienced users that are new to Cinnamon.
                    It will provide a guided setup and more detailed descriptions for every step.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="./app/assets/guided.png" width="500px"/>
                </div>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-center align-items-end h-100">
            </mat-card-actions>
        </mat-card>

        <mat-card class="ms-2 w-50" [class.cinnamon-selected-mode]="status.mode === Mode.EXPERT"
                  [class.cinnamon-unselected-mode]="status.mode !== Mode.EXPERT"
                  (click)="selectMode(Mode.EXPERT);"
        >
            <mat-card-header>
                <mat-card-title>Minimal Guidance</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    Minimal guidance is designed for experienced users that are knowledgeable in anonymization and synthetization methods.
                    This mode offers less guidance but allows a faster workflow.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="./app/assets/normal.png" width="500px"/>
                </div>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-center align-items-end h-100">
            </mat-card-actions>
        </mat-card>
    </div>
</app-workstep-box>
