<div class="d-flex flex-column justify-content-center">
    <h1 class="align-self-center">KI-AIM</h1>

    <ul class="nav flex-column justify-content-start">
        <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/start']" 
            [routerLinkActive]="['active', 'disabled']"
            [ngClass]="stateManagement.getCompletedSteps().contains(Steps.WELCOME) ? 'completed' : ''">
                Welcome
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/upload']" 
            [routerLinkActive]="['active', 'disabled']"
            [ngClass]="stateManagement.getCompletedSteps().contains(Steps.UPLOAD) ? 'completed' : ''">
                Upload
            </a>
        </li>
    </ul>
</div>