<div [formGroup]="form">
    <div [formGroupName]="textSynthesisConfigurationService.formGroupName">
        <div formGroupName="synthetization_configuration">
            <div formGroupName="algorithm">
                <mat-accordion>
                    <mat-expansion-panel appExpansionPanelOverflow>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Synthesizer Selection
                            </mat-panel-title>
                            <mat-panel-description>
                                Choose the free-text synthesizer.
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field class="w-100">
                            <mat-label>Free-Text Synthesizer</mat-label>
                            <mat-select formControlName="synthesizer">
                                <mat-option *ngFor="let item of textSynthesizerAlgorithms$ | async" [value]="item.name">
                                    {{ item.display_name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="textConfigGroup.get('synthetization_configuration.algorithm.synthesizer')?.hasError('required')">
                                Please select a free-text synthesizer.
                            </mat-error>
                        </mat-form-field>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>
    </div>
</div>
