<main>

    <div class="vertical-boxes">

        <div class="box">
            <div class="box-header box-header-expanded" id="security-heading">
                <span class="box-header-icon icon-enabled"><mat-icon>shield</mat-icon></span>
                <span class="box-header-title">Account &amp; security</span>
            </div>

            <div class="config-input-row no-wrap">
                <div class="config-input-row-label-inline">
                    <div class="config-input-row-label-inline-header">Username</div>
                    <div class="config-input-row-label-inline-info">Update the name you use to sign in.</div>
                </div>
                <div class="config-input-row-button config-input-row-end input-height">
                    <button mat-raised-button color="primary"
                            (click)="openChangeUsernameDialog(changeUsernameDialog)">
                        Change username
                    </button>
                </div>
            </div>

            <div class="config-input-divider"></div>

            <div class="config-input-row no-wrap">
                <div class="config-input-row-label-inline">
                    <div class="config-input-row-label-inline-header">Password</div>
                    <div class="config-input-row-label-inline-info">Choose a strong, unique password for your account.</div>
                </div>
                <div class="config-input-row-button config-input-row-end input-height">
                    <button mat-raised-button color="primary"
                            (click)="openChangePasswordDialog(changePasswordDialog)">
                        Change password
                    </button>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header box-header-expanded box-header-danger">
                <span class="box-header-icon"><mat-icon>warning</mat-icon></span>
                <span class="box-header-title">Danger zone</span>
            </div>

            <div class="config-input-row no-wrap">
                <div class="config-input-row-label-inline">
                    <div class="config-input-row-label-inline-header">Delete account</div>
                    <div class="config-input-row-label-inline-info">Permanently delete your account and all of your projects.</div>
                </div>
                <div class="config-input-row-button config-input-row-end input-height">
                    <button mat-raised-button color="warn"
                            (click)="openDeleteAccountDialog(deleteAccountDialog)">
                        Delete account
                    </button>
                </div>
            </div>
        </div>

    </div>

</main>

<ng-template #changeUsernameDialog>
    <h2 mat-dialog-title>Change username</h2>
    <mat-dialog-content class="mat-typography dialog-content">

        <div class="box">

            <div class="config-input-row">
                <div class="config-input-row-label-inline">
                    <div class="config-input-row-label-inline-header">New Username</div>
                    <div class="config-input-row-label-inline-info">Enter a new username.</div>
                </div>
                <mat-form-field class="config-input-row-field">
                    <mat-label>New username</mat-label>
                    <input type="text" matInput autocomplete="username"
                           [formControl]="changeUsernameNewUsernameControl">
                </mat-form-field>
            </div>

            <app-password-input label="Current password" inlineHeading="Current Password"
                                inlineInfo="Enter your current password to confirm the change."
                                [control]="changeUsernameCurrentPasswordControl">
            </app-password-input>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
        <button mat-raised-button color="primary" type="button" [disabled]="!updateUsernameForm.valid"
                (click)="changeUsername()">Change username</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #changePasswordDialog>
    <h2 mat-dialog-title>Change password</h2>
    <mat-dialog-content class="mat-typography dialog-content">

        <div class="box">
            @if (appConfig$ | async; as appConfig) {
                <app-password-input label="Current password" inlineHeading="Current password"
                                    inlineInfo="Enter your current password" [control]="currentPasswordControl">
                </app-password-input>
                <app-password-input label="New password" inlineHeading="New password" inlineInfo="Enter a new password"
                                    [passwordRequirements]="appConfig.passwordRequirements"
                                    autocomplete="new-password" [control]="newPasswordControl">
                </app-password-input>
                <app-password-input label="Confirm new password" inlineHeading="Confirm new password"
                                    inlineInfo="Re-enter your new password" autocomplete="new-password"
                                    [control]="newPasswordRepeatedControl">
                </app-password-input>
            }
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
        <button mat-raised-button color="primary" type="button" [disabled]="!updatePasswordForm.valid"
                (click)="changePassword()">Change password</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #deleteAccountDialog>
    <h2 mat-dialog-title>Delete account?</h2>
    <mat-dialog-content class="mat-typography dialog-content">

        <app-info-card typeClass="card-warn">
            <strong>This action is permanent.</strong> Your account and all of your projects will be deleted.
        </app-info-card>

        <div class="box">
            <p>To confirm, enter your username <strong>{{ username }}</strong> and password.</p>

            <div class="config-input-row">
                <div class="config-input-row-label-inline">
                    <div class="config-input-row-label-inline-header">Username</div>
                    <div class="config-input-row-label-inline-info">Enter your username.</div>
                </div>

                <mat-form-field class="config-input-row-field">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput autocomplete="username" [formControl]="confirmDeletionUsernameControl">
                </mat-form-field>
            </div>

            <app-password-input label="Password" [control]="confirmDeletionPasswordControl" inlineHeading="Password"
                                inlineInfo="Enter your password.">
            </app-password-input>

            @if (deletionError != null) {
                <div class="color-error" role="alert">{{ deletionError }}</div>
            }

        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
        <button mat-raised-button color="warn" type="button"
                [disabled]="confirmDeletionUsernameControl.value === '' || confirmDeletionPasswordControl.value === ''"
                (click)="deleteAccount(confirmDeletionUsernameControl.value, confirmDeletionPasswordControl.value)">
            Delete account
        </button>
    </mat-dialog-actions>
</ng-template>
