HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Local files ###
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Python ###
__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class
**/*$py.class
/venv/
/env/
/ENV/
/.env/
/.venv/
/**/venv/
/**/env/
/**/ENV/
/**/.env/
/**/.venv/

# Simulation outputs
/simulation/experiment_results/
/simulation/experiments_results/
/simulation/dataset_configs/use_case*
