HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Local files ###
.env
scripts/resources/
.DS_Store
**/.DS_Store
cinnamon-synthetization/outputs/
cinnamon-synthetization/workspace/
start-local-macos.sh
restart-platform-synthetization-macos.sh

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Python ###
__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class
**/*$py.class
/venv/
/env/
/ENV/
/.env/
/.venv/
/**/venv/
/**/env/
/**/ENV/
/**/.env/
/**/.venv/
