<div class="cinnamon-confirm-div">

    <div class="cinnamon-workstep-error" *ngIf="!locked && !valid">
        The step is not completed or contains errors.
    </div>

    <div class="cinnamon-workstep-error" *ngIf="locked">
        The step is locked.
    </div>

    <div class="cinnamon-buttons-div">
        <button [disabled]="locked || !valid || loading" (click)="confirmStep()" mat-raised-button color="primary">
            <div class="d-flex align-items-center gap-2">
                Continue
                @if (loading) {
                    <mat-spinner [diameter]="24"></mat-spinner>
                }
            </div>
        </button>
        <button *ngIf="altConfirm" [disabled]="locked || !altConfirmValid" (click)="altConfirmStep()" mat-raised-button
                color="primary">
            {{ altConfirm }}
        </button>
    </div>
</div>
