<div class="bg-white p-5 rounded border">
    <form role="form" class="d-flex flex-column mb-3">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-button color="warn">Login</button>
    </form>
    <a class="nav-link"
       routerLink="/register">
        Register
    </a>

</div>



