<a title="Additional Settings" (click)="openDialog(additionalSettings)">
    <mat-icon fontIcon="settings"></mat-icon>
</a>

<ng-template #additionalSettings>
    <mat-dialog-content class="mat-typography">
        <div >
            <h1>Add new configuration</h1>
            <div class="d-flex flex-column">
                <mat-form-field>
                    <mat-label>Configuration</mat-label>
                    <mat-select [id]="'additionalSettingsConfigurations_' + attrNumber"
                        (selectionChange)="changeConfigurationSelection($event)"
                        [disabled]="disabled || !areConfigurationAvailable(getType())"
                        [(value)]="selected">
                        <mat-option disabled *ngIf="!areConfigurationAvailable(getType())"
                            value="standardSelection">No
                            configurations available</mat-option>
                        <mat-option disabled *ngIf="areConfigurationAvailable(getType())"
                            value="standardSelection">Select a
                            configuration to add...</mat-option>
                        <mat-option
                            *ngFor="let configurationType of getConfigurationsForDatatype(getType()).getAll()"
                            [value]="configurationType">{{getConfigurationTypeForIndex(configurationType)}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <hr />

            <h1>Configuration Settings</h1>

            <div *ngIf="getConfigurationGroups().length === 0">
                <i>No configuration selected yet</i>
            </div>
            <div *ngIf="getConfigurationGroups().length > 0" [formGroup]="form">
                <div formArrayName="configurations">
                    <div *ngFor="let f of getConfigurationGroups(); let i = index" [formGroupName]="i">
                        <h2>
                            <span> {{ f.controls['name'].value }} </span>
                            <button mat-raised-button color="warn" (click)="removeConfiguration(i)">Delete</button>
                        </h2>
                        <app-dateformat #dateFormat [form]="f"
                                        *ngIf="f.controls['name'].value === 'DateFormatConfiguration'"></app-dateformat>
                        <app-datetimeformat #dateTimeFormat [form]="f"
                                            *ngIf="f.controls['name'].value === 'DateTimeFormatConfiguration'"></app-datetimeformat>
                        <app-range #range [type]="getType()" [form]="f"
                                   *ngIf="f.controls['name'].value === 'RangeConfiguration'"></app-range>
                        <app-stringpattern #stringPattern [form]="f"
                                           *ngIf="f.controls['name'].value === 'StringPatternConfiguration'"></app-stringpattern>

                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="primary">Close</button>
    </mat-dialog-actions>
</ng-template>
