<div class="d-flex flex-row w-100" style="gap: 16px;">

    <div class="d-flex flex-column input-height justify-content-center" style="width: 10%; min-width: 100px;">
        <mat-label [class.invalid-input]="!isValid" style="transition: color .1s linear"
                   [attr.for]="configurationInputDefinition.name">
            {{ configurationInputDefinition.label }}
        </mat-label>
    </div>

    <span style="flex: 1 1 auto; width: 80%;" [formGroup]="form">
        <ng-container [ngSwitch]="configurationInputDefinition.type">
            <!-- Switch cases for all supported configuration types -->
            <ng-container *ngSwitchCase="ConfigurationInputType.ATTRIBUTE">
                    <mat-form-field class="input">
                        <mat-select [formControlName]="configurationInputDefinition.name"
                                    [id]="configurationInputDefinition.name">
                            <mat-option *ngFor="let option of dataConfiguration" [value]="option.name">
                                {{ option.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="ConfigurationInputType.ATTRIBUTE_LIST">
                <app-configuration-input-attribute-list [configurationInputDefinition]="configurationInputDefinition"
                                                        [parentForm]="form" [disabled]="disabled">
                </app-configuration-input-attribute-list>
            </ng-container>

            <ng-container *ngSwitchCase="ConfigurationInputType.LIST">
                <div class="input-array-wrapper">
                    <mat-form-field class="input-array">
                        <input type="text"
                               [value]="form.controls[configurationInputDefinition.name].value"
                               [id]="configurationInputDefinition.name" matInput disabled="disabled"/>
                    </mat-form-field>

                     <span class="input-array-button input-height d-flex flex-column justify-content-center">
                         <app-configuration-input-array [configurationInputDefinition]="configurationInputDefinition"
                                                        [parentForm]="form" [disabled]="disabled">
                         </app-configuration-input-array>
                     </span>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="ConfigurationInputType.BOOLEAN">
                <mat-checkbox [formControlName]="configurationInputDefinition.name" color="primary">
                </mat-checkbox>
            </ng-container>


            <ng-container *ngSwitchCase="ConfigurationInputType.FLOAT">
                <ng-container *ngIf="configurationInputDefinition.values; else floatInput">
                    <mat-form-field class="input">
                        <mat-select [formControlName]="configurationInputDefinition.name" [id]="configurationInputDefinition.name">
                            <mat-option *ngFor="let option of configurationInputDefinition.values" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-template #floatInput>
                    <mat-form-field class="input">
                        <input type="number" [formControlName]="configurationInputDefinition.name"
                               [id]="configurationInputDefinition.name" matInput/>
                        <mat-error *ngIf="form.controls[configurationInputDefinition.name].hasError('required')">
                            Value must not be empty
                        </mat-error>
                        <mat-error *ngIf="form.controls[configurationInputDefinition.name].hasError('max')">
                            Value must be less than or equal to {{ configurationInputDefinition.max_value }}
                        </mat-error>
                        <mat-error *ngIf="form.controls[configurationInputDefinition.name].hasError('min')">
                            Value must be greater than or equal to {{ configurationInputDefinition.min_value }}
                        </mat-error>
                    </mat-form-field>
                </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="ConfigurationInputType.INTEGER">
                <mat-form-field class="input">
                    <input type="number" [formControlName]="configurationInputDefinition.name"
                           [id]="configurationInputDefinition.name"
                           (change)="form.controls[configurationInputDefinition.name].setValue(Math.round(form.controls[configurationInputDefinition.name].value));"
                           matInput/>
                    <mat-error *ngIf="form.controls[configurationInputDefinition.name].hasError('required')">
                       Value must not be empty
                    </mat-error>
                    <mat-error *ngIf="form.controls[configurationInputDefinition.name].hasError('max')">
                        Value must be less than or equal to {{ configurationInputDefinition.max_value }}
                    </mat-error>
                    <mat-error *ngIf="form.controls[configurationInputDefinition.name].hasError('min')">
                        Value must be greater than or equal to {{ configurationInputDefinition.min_value }}
                    </mat-error>
                </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="ConfigurationInputType.STRING">
                <ng-container *ngIf="configurationInputDefinition.values; else stringInput">
                    <mat-form-field class="input">
                        <mat-select [formControlName]="configurationInputDefinition.name"
                                    [id]="configurationInputDefinition.name">
                            <mat-option *ngFor="let option of configurationInputDefinition.values" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-template #stringInput>
                    <mat-form-field class="input">
                        <input type="text" [formControlName]="configurationInputDefinition.name"
                               [id]="configurationInputDefinition.name"
                               (change)="form.controls[configurationInputDefinition.name].setValue(form.controls[configurationInputDefinition.name].value.trim());"
                               matInput/>
                        <mat-error *ngIf="form.controls[configurationInputDefinition.name].hasError('required')">
                            Value must not be empty
                        </mat-error>
                    </mat-form-field>
                </ng-template>
            </ng-container>
        </ng-container>
    </span>

    <div class="d-flex input-height">
        <div class="me-2 d-flex flex-column justify-content-center">
            <a *ngIf="!disabled" title="Set to default" (click)="setToDefault()" class="icon-enabled">
                <mat-icon fontIcon="replay"></mat-icon>
            </a>
            <span *ngIf="disabled" title="Set to default" class="icon-disabled">
                <mat-icon fontIcon="replay"></mat-icon>
            </span>
        </div>

        <div class="d-flex flex-column justify-content-center">
            <span>
                <app-configuration-input-info [configurationInputDefinition]="configurationInputDefinition">
                </app-configuration-input-info>
            </span>
        </div>
    </div>

</div>
