<a title="Additional Settings" (click)="openDialog(additionalSettings)">
    <mat-icon fontIcon="settings"></mat-icon>
</a>

<ng-template #additionalSettings>
    <mat-dialog-content class="mat-typography">
        <div>
            <h1>Add new configuration</h1>
            <div class="d-flex flex-column">
                <mat-form-field>
                    <mat-label>Configuration</mat-label>
                    <mat-select [id]="'additionalSettingsConfigurations_' + attrNumber"
                        (selectionChange)="changeConfigurationSelection($event)"
                        [disabled]="!areConfigurationAvailable(column.type.toString()) ? 'disabled' : null"
                        [(value)]="selected">
                        <mat-option selected disabled *ngIf="!areConfigurationAvailable(column.type.toString())"
                            value="standardSelection">No
                            configurations available</mat-option>
                        <mat-option selected disabled *ngIf="areConfigurationAvailable(column.type.toString())"
                            value="standardSelection">Select a
                            configuration to add...</mat-option>
                        <mat-option
                            *ngFor="let configurationType of getConfigurationsForDatatype(column.type.toString()).getAll()"
                            [value]="configurationType">{{getConfigurationTypeForIndex(configurationType)}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <hr />

            <h1>Configuration Settings</h1>

            <div *ngIf="currentConfigurationSelection == undefined">
                <i>No configuration selected yet</i>
            </div>

            <app-dateformat #dateFormat
                *ngIf="currentConfigurationSelection == ConfigurationType.DATEFORMAT"></app-dateformat>
            <app-datetimeformat #dateTimeFormat
                *ngIf="currentConfigurationSelection == ConfigurationType.DATETIMEFORMAT"></app-datetimeformat>
            <app-range #range [type]="column.type"
                *ngIf="currentConfigurationSelection == ConfigurationType.RANGE"></app-range>
            <app-stringpattern #stringPattern
                *ngIf="currentConfigurationSelection == ConfigurationType.STRINGPATTERN"></app-stringpattern>

            <button mat-raised-button color="primary" class="mt-3" *ngIf="currentConfigurationSelection != undefined"
                (click)="addConfiguration()">
                Add Configuration
            </button>

            <hr />

            <app-added-configuration-list [column]="column"></app-added-configuration-list>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="primary">Close</button>
    </mat-dialog-actions>
</ng-template>