<a class="btn-outline-secondary bi-gear-fill" title="Additional Settings" data-bs-toggle="modal"
    [attr.data-bs-target]="'#additionalSettings_' + attrNumber"></a>

<div class="modal modal-xl fade" [id]="'additionalSettings_' + attrNumber" data-backdrop="static" data-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <app-added-configuration-list [column]="column"></app-added-configuration-list>

                <hr />

                <h1>Add new configuration</h1>
                <div class="d-flex flex-column">
                    <label class="form-label" [for]="'additionalSettingsConfigurations_' + attrNumber">Configuration:
                    </label>
                    <select class="form-select" [id]="'additionalSettingsConfigurations_' + attrNumber"
                        (change)="changeConfigurationSelection($event)">
                        <option selected disabled *ngIf="!areConfigurationAvailable(column.type.toString())">No
                            configurations available</option>
                        <option selected disabled *ngIf="areConfigurationAvailable(column.type.toString())">Select a
                            configuration to add...</option>
                        <option
                            *ngFor="let configurationType of getConfigurationsForDatatype(column.type.toString()).getAll()"
                            [value]="configurationType">{{getConfigurationTypeForIndex(configurationType)}}</option>
                    </select>
                </div>

                <hr />

                <h1>Configuration Settings</h1>

                <div *ngIf="currentConfigurationSelection == undefined">
                    <i>No configuration selected yet</i>
                </div>

                <app-dateformat #dateFormat
                    *ngIf="currentConfigurationSelection == ConfigurationType.DATEFORMAT"></app-dateformat>
                <app-datetimeformat #dateTimeFormat
                    *ngIf="currentConfigurationSelection == ConfigurationType.DATETIMEFORMAT"></app-datetimeformat>
                <app-stringpattern #stringPattern
                    *ngIf="currentConfigurationSelection == ConfigurationType.STRINGPATTERN"></app-stringpattern>

                <button class="btn btn-primary mt-3" *ngIf="currentConfigurationSelection != undefined"
                    (click)="addConfiguration()">
                    Add Configuration
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
            </div>

        </div>
    </div>
</div>