<div class="d-flex flex-row w-100">

    <div class="d-flex" style="height: 56px;">
        <div class="d-flex flex-column justify-content-center">
            <mat-label [attr.for]="configurationInputDefinition.name">{{ configurationInputDefinition.label }}
            </mat-label>
        </div>
    </div>

    <span style="">
    <mat-form-field [formGroup]="form">
        <ng-container [ngSwitch]="configurationInputDefinition.type">
            <ng-container *ngSwitchCase="ConfigurationInputType.ARRAY">

            </ng-container>

            <ng-container *ngSwitchCase="ConfigurationInputType.FLOAT">
                <input type="number" [formControlName]="configurationInputDefinition.name"
                       [id]="configurationInputDefinition.name" matInput/>
            </ng-container>

            <ng-container *ngSwitchCase="ConfigurationInputType.INTEGER">
                <input type="number" [formControlName]="configurationInputDefinition.name"
                       [id]="configurationInputDefinition.name" matInput/>
            </ng-container>

            <ng-container *ngSwitchCase="ConfigurationInputType.STRING">
                <ng-container *ngIf="configurationInputDefinition.values; else stringInput">
                    <mat-select [formControlName]="configurationInputDefinition.name"
                                [id]="configurationInputDefinition.name">
                        <mat-option *ngFor="let option of configurationInputDefinition.values" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </ng-container>
                <ng-template #stringInput>
                    <input type="text" [formControlName]="configurationInputDefinition.name"
                           [id]="configurationInputDefinition.name" matInput/>
                </ng-template>

            </ng-container>
        </ng-container>

    </mat-form-field>
    </span>

    <div class="d-flex" style="height: 56px;">
        <div class="d-flex flex-column justify-content-center">
            <span>
                <app-configuration-input-info [configurationInputDefinition]="configurationInputDefinition">
                </app-configuration-input-info>
            </span>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <span>
                <a title="Additional Settings" (click)="setToDefault()" style="vertical-align: middle;">
                    <mat-icon fontIcon="replay"></mat-icon>
                </a>
            </span>
        </div>
    </div>

</div>


