<div class="d-flex flex-row w-100">

    <div class="d-flex" style="height: 56px;">
        <div class="d-flex flex-column justify-content-center">
            <mat-label [attr.for]="configurationInputDefinition.name">{{ configurationInputDefinition.label }}
            </mat-label>
        </div>
    </div>

    <span style="" [formGroup]="form">
        <ng-container [ngSwitch]="configurationInputDefinition.type">

            <ng-container *ngSwitchCase="ConfigurationInputType.ARRAY">
                <mat-form-field>
                    <input type="text" [value]="form.controls[configurationInputDefinition.name].value"
                           [id]="configurationInputDefinition.name" matInput/>
                </mat-form-field>

                <app-configuration-input-array [configurationInputDefinition]="configurationInputDefinition"
                                               [parentForm]="form">
                </app-configuration-input-array>
            </ng-container>

            <ng-container *ngSwitchCase="ConfigurationInputType.FLOAT">
                <mat-form-field>
                    <input type="number" [formControlName]="configurationInputDefinition.name"
                           [id]="configurationInputDefinition.name" matInput/>
                </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="ConfigurationInputType.INTEGER">
                <mat-form-field>
                    <input type="number" [formControlName]="configurationInputDefinition.name"
                           [id]="configurationInputDefinition.name" matInput/>
                </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="ConfigurationInputType.STRING">
                <mat-form-field>
                    <ng-container *ngIf="configurationInputDefinition.values; else stringInput">
                        <mat-select [formControlName]="configurationInputDefinition.name"
                                    [id]="configurationInputDefinition.name">
                            <mat-option *ngFor="let option of configurationInputDefinition.values" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-select>
                    </ng-container>
                    <ng-template #stringInput>
                        <input type="text" [formControlName]="configurationInputDefinition.name"
                               [id]="configurationInputDefinition.name" matInput/>
                    </ng-template>
                </mat-form-field>
            </ng-container>
        </ng-container>
    </span>

    <div class="d-flex" style="height: 56px;">
        <div class="d-flex flex-column justify-content-center">
            <span>
                <app-configuration-input-info [configurationInputDefinition]="configurationInputDefinition">
                </app-configuration-input-info>
            </span>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <span>
                <a title="Additional Settings" (click)="setToDefault()" style="vertical-align: middle;">
                    <mat-icon fontIcon="replay"></mat-icon>
                </a>
            </span>
        </div>
    </div>

</div>


