<ng-container *ngIf="status$ | async as status">
    <ng-container *ngIf="status.mode === Mode.STANDARD">

        <mat-accordion>

            <mat-expansion-panel [disabled]="0 > currentStep" class="workstep-expansion-panel"
                                 [class.workstep-complete]="currentStep > 0 || stepsCompleted">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <app-workstep-title [stepIndex]="0">
                            View the data
                        </app-workstep-title>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>

                    <div class="cinnamon-workstep-div"></div>

                    <p>
                        The transformation of the data for your configuration was successful. You can inspect the result below. <br /><br />

                        Lines that are marked in red will be removed from your dataset, as they could not be transformed with your
                        configuration. The faulty column is marked in a deeper tone of red. <br />

                        This application does not offer any mechanism to fix your data. You can however continue with the number of valid
                        rows. <br />

                        If you want to change anything, please adjust your data manually and start again. By clicking "Continue" below, you
                        accept that the data will be stored locally in the processing database of the application. The data will be deleted
                        after a certain amount of time. You can also delete it manually at any point in time.
                    </p>

                    <table>
                        <tr>
                            <td style="padding-right: 1rem;">Rows in the dataset:</td>
                            <td>{{ numberRows$ | async }}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 1rem;">Rows that will be adjusted:</td>
                            <td>{{ numberInvalidRows$ | async }}</td>
                        </tr>
                    </table>

                    <div class="mt-3">
                        <app-data-table sourceDataset="validation"></app-data-table>
                    </div>

                    <app-workstep [locked]="locked" [stepIndex]="0" [valid]="true"></app-workstep>
                </ng-template>

            </mat-expansion-panel>

            <mat-expansion-panel [disabled]="1 > currentStep" class="workstep-expansion-panel"
                                 [class.workstep-complete]="currentStep > 1 || stepsCompleted">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <app-workstep-title [stepIndex]="1">
                            View statistics
                        </app-workstep-title>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="cinnamon-workstep-div"></div>

                Statistics can hint to some issue

                <div class="mt-1">
                    <app-data-inspection [lazy]="true" sourceDataset="VALIDATION"></app-data-inspection>
                </div>

                <app-workstep [locked]="locked" [stepIndex]="1" [valid]="true"></app-workstep>
            </mat-expansion-panel>

            <mat-expansion-panel [disabled]="2 > currentStep" class="workstep-expansion-panel"
                                 [class.workstep-complete]="currentStep > 2 || stepsCompleted">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <app-workstep-title [stepIndex]="2">
                            Correct potential issues
                        </app-workstep-title>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="cinnamon-workstep-div"></div>

                If you noticed any issues in the imported data or the statistics, you can go back to previous steps and modify the data or the configuration.
                Otherwise you can continue with the current data.

                <app-workstep [locked]="locked" [stepIndex]="2" [valid]="true"></app-workstep>
            </mat-expansion-panel>

        </mat-accordion>


        <div class="d-flex align-items-center justify-content-start mt-3 gap-3">
            <button mat-raised-button color="primary" (click)="confirmData()" [disabled]="locked || !stepsCompleted">
                Continue with the current dataset and data configuration
                <mat-icon>arrow_forward</mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="openDeleteDialog(deleteDialog)" [disabled]="!locked">
                <mat-icon>delete</mat-icon>
                Delete Data
            </button>
        </div>

    </ng-container>
    <ng-container *ngIf="status.mode === Mode.EXPERT">

        <div class="box mb-3">
            <p>
                The transformation of the data for your configuration was successful. You can inspect the result below. <br /><br />

                Lines that are marked in red will be removed from your dataset, as they could not be transformed with your
                configuration. The faulty column was marked in a deeper tone of red. <br />

                This application does not offer any mechanism to fix your data. You can however continue with the number of valid
                rows. <br />

                If you want to change anything, please adjust your data manually and start again. By clicking "Continue" below, you
                accept that the data will be stored locally in the processing database of the application. The data will be deleted
                after a certain amount of time. You can also delete it manually at any point in time.
            </p>

            <p class="mt-5">
                <span class="h2">Rows in the dataset: {{ numberRows$ | async }} rows</span>
            </p>
            <p class="mt-1">
                <span class="h2">Rows that will be adjusted: {{ numberInvalidRows$ | async }} rows</span>
            </p>

            <div class="d-flex align-items-center justify-content-start my-2">
                <button mat-raised-button color="primary" class="me-2" (click)="confirmData()" [disabled]="locked">
                    Continue
                    <mat-icon>arrow_forward</mat-icon>
                </button>
                <button mat-raised-button color="warn" (click)="openDeleteDialog(deleteDialog)" [disabled]="!locked">
                    <mat-icon>delete</mat-icon>
                    Delete Data
                </button>
            </div>

        </div>

        <mat-accordion>
            <mat-expansion-panel class="workstep-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h5>Data Upload Result</h5>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div class="mt-1">
                        <app-data-table sourceDataset="validation"></app-data-table>
                    </div>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel class="workstep-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h5>Data Inspection</h5>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div class="mt-1">
                        <app-data-inspection sourceDataset="VALIDATION"></app-data-inspection>
                    </div>
                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

    </ng-container>
</ng-container>

<ng-template #deleteDialog>
    <mat-dialog-content class="mat-typography">
        <h1>Delete Data</h1>
        <div>
            Do you really want to delete the data.
            This will also delete the data and result of all following steps.
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="primary">Keep Data</button>
        <button mat-raised-button mat-dialog-close color="warn" (click)="deleteData()">Delete Data</button>
    </mat-dialog-actions>
</ng-template>
