<!-- Error -->
<app-info-card [hidden]="executionService.error === null" typeClass="card-failure">
    <div>{{ executionService.error }}</div>
</app-info-card>

<div class="stage-head">
    <button type="submit" mat-raised-button color="primary" [disabled]="executionService.disabled"
            (click)="executionService.start()">
        Start
        <mat-icon fontIcon="play_arrow"></mat-icon>
    </button>

    <button type="submit" mat-raised-button color="warn" [disabled]="!executionService.disabled"
            (click)="executionService.cancel()">
        Cancel
        <mat-icon fontIcon="stop"></mat-icon>
    </button>

    <span class="status" [ngClass]="status.status">
        <span>{{ status.status.replace("_", " ") }}</span>
    </span>
</div>


<div style="display: flex; width: 100%;">
    <!-- Line on the left -->
    <div class="stage-tree-line-vertical">
    </div>

    <!-- Steps on the right -->
    <div *ngIf="(stage$ | async) as stage" class="w-100" style="display: flex; flex-direction: column; margin-top: 2rem;">
        <div *ngFor="let process of stage.processes; let i = index" class="w-100 d-flex">

            <!-- Line to anon box -->
            <div style="padding-top: 0.3rem;">
                <div style="height: 3rem; display: flex;">
                    <div class="stage-tree-line-horizontal"
                         style="margin-top: auto; margin-bottom: auto; min-width: 2rem;">
                    </div>
                </div>
            </div>

            <!-- Wrapper for step -->
            <!-- I have no idea why width: 10% and flex-grow: 1 is doing what I want to do -->
            <div class="mb-2 box" style="flex-grow: 1; width: 10%; padding-top: 0.3rem;">
                <!-- Head -->
                <div class="step-head">
                    <span> {{ getJobName(i) }} </span>
                    <span class="status" [ngClass]="status.processes[i].externalProcessStatus">
                        <span>{{ status.processes[i].externalProcessStatus.replace("_", " ") }}</span>
                    </span>
                </div>

                <div style="margin-top: 0.4rem;">
                    <mat-accordion>
                        <!-- Status -->
                        <mat-expansion-panel [(expanded)]="expanded[i][0]">
                            <mat-expansion-panel-header>
                                <mat-panel-title>Status</mat-panel-title>
                                <mat-panel-description></mat-panel-description>
                            </mat-expansion-panel-header>

                            <ng-container *ngIf="i == 0">
                                <div *ngIf="executionService.anonProcess !== null">
                                    {{ executionService.anonProcess }}
                                </div>
                                <div *ngIf="executionService.anonProcess === null">
                                    No Status Available
                                </div>
                            </ng-container>
                            <ng-container *ngIf="i == 1">
                                <div *ngIf="executionService.synthProcess !== null">
                                    <div *ngIf="isObject(executionService.synthProcess); else statusIsString">
                                        <table class="table">
                                            <thead>
                                            <th>Step</th>
                                            <th>Finished</th>
                                            <th>Remaining Time/ Duration</th>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let step of castObject(executionService.synthProcess).status">
                                                <td>{{ step.step }}</td>
                                                <td>{{ step?.completed }}</td>
                                                <td>{{ ((step?.completed === "True") ? step?.duration : step?.remaining_time) | number:'1.0-0'}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ng-template #statusIsString>
                                            {{ executionService.synthProcess }}
                                    </ng-template>
                                </div>
                                <div *ngIf="!executionService.synthProcess">
                                    No Status Available
                                </div>
                            </ng-container>

                        </mat-expansion-panel>

                        <!-- Data -->
                        <mat-expansion-panel [(expanded)]="expanded[i][1]">
                            <mat-expansion-panel-header>
                                <mat-panel-title>Data</mat-panel-title>
                                <mat-panel-description></mat-panel-description>
                            </mat-expansion-panel-header>

                            <div>
                                <div
                                    *ngIf="status.processes[i].externalProcessStatus == ProcessStatus.FINISHED; else anonNoData">
                                    <app-data-table [sourceDataset]="getJobName(i)"></app-data-table>
                                </div>
                                <ng-template #anonNoData>
                                    <div>
                                        No Data Available
                                    </div>
                                </ng-template>
                            </div>

                        </mat-expansion-panel>

                        <!-- Inspection -->
                        <mat-expansion-panel [(expanded)]="expanded[i][2]">
                            <mat-expansion-panel-header>
                                <mat-panel-title>Inspection</mat-panel-title>
                                <mat-panel-description></mat-panel-description>
                            </mat-expansion-panel-header>

                            <ng-template matExpansionPanelContent>

                                <div class="mt-1">
                                    <div
                                        *ngIf="status.processes[i].externalProcessStatus == ProcessStatus.FINISHED; else synthNoData">
                                        <app-data-inspection [sourceDataset]="getJobName(i)"></app-data-inspection>
                                    </div>
                                    <ng-template #synthNoData>
                                        <div>
                                            No Inspection Available
                                        </div>
                                    </ng-template>
                                </div>
                            </ng-template>
                        </mat-expansion-panel>

                    </mat-accordion>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="box">
    <button type="button" mat-raised-button color="primary" [disabled]="status.status != ProcessStatus.FINISHED"
            (click)="continue()">
        Continue
    </button>
</div>

