<!-- Error -->
<app-info-card [hidden]="executionService.error === null" typeClass="card-failure">
    <div>{{ executionService.error }}</div>
</app-info-card>

<div class="mt-2">
    <button type="submit" class="me-2" mat-raised-button color="primary" [disabled]="executionService.disabled" (click)="executionService.start()">
        Start
    </button>

    <button type="submit" class="me-2" mat-raised-button color="primary" [disabled]="!executionService.disabled" (click)="executionService.cancel()">
        Cancel Algorithm
    </button>

    <button type="submit" mat-raised-button color="primary" (click)="downloadResult()">
        Download
    </button>
</div>

<div class="mb-2">
    <h2 class="me-2" style="display: inline;">Status</h2>
    <span class="status mt-2" [ngClass]="status.status"> <span>{{ status.status.replace("_", " ") }}</span> </span>
</div>

<mat-accordion *ngIf="status.processes.length > 0">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Anonymization</mat-panel-title>
            <mat-panel-description>
    <span class="status mt-2" [ngClass]="status.processes[0].externalProcessStatus">
        <span>{{ status.processes[0].externalProcessStatus.replace("_", " ") }}</span>
    </span>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
            <div *ngIf="executionService.anonProcess !== null">
                {{ executionService.anonProcess}}
            </div>

            <div *ngIf="status.processes[0].externalProcessStatus == ProcessStatus.FINISHED; else anonNoData">
                <app-data-table sourceDataset="anonymization"></app-data-table>
            </div>
            <ng-template #anonNoData>
                <div>
                    No Data Available
                </div>
            </ng-template>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Synthetization</mat-panel-title>
            <mat-panel-description>
    <span class="status mt-2" [ngClass]="status.processes[1].externalProcessStatus">
        <span>{{ status.processes[1].externalProcessStatus.replace("_", " ") }}</span>
    </span>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
            <div *ngIf="executionService.synthProcess !== null">
                <div *ngIf="isObject(executionService.synthProcess); else statusIsString">
                    <table class="table">
                        <thead>
                        <th>Step</th>
                        <th>Finished</th>
                        <th>Remaining Time/ Duration</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let step of castObject(executionService.synthProcess).status">
                            <td>{{ step.step }}</td>
                            <td>{{ step?.completed }}</td>
                            <td>{{ (step?.completed === "True") ? step?.duration : step?.remaining_time }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #statusIsString>
                    {{ executionService.synthProcess }}
                </ng-template>
            </div>


            <div *ngIf="status.processes[1].externalProcessStatus == ProcessStatus.FINISHED; else synthNoData">
                <app-data-table sourceDataset="synthetization"></app-data-table>
            </div>
            <ng-template #synthNoData>
                <div>
                    No Data Available
                </div>
            </ng-template>
        </div>

    </mat-expansion-panel>
</mat-accordion>

<div class="mt-2">
    <button type="button" mat-raised-button color="primary" [disabled]="status.status != ProcessStatus.FINISHED"
            (click)="continue()">
        Continue
    </button>
</div>

