<div class="mt-2">
    <button type="submit" mat-raised-button color="primary" [disabled]="disabled" (click)="onSubmit()">
        Start
    </button>
</div>

<div class="mt-2">
    <button type="submit" mat-raised-button color="primary" [disabled]="!disabled" (click)="cancel()">
        Cancel Algorithm
    </button>
</div>

<div class="mt-2">
    <button type="submit" mat-raised-button color="primary" (click)="downloadResult()">
        Download
    </button>
</div>

<h2>Status</h2>

<div>
    <span class="status mt-2" [ngClass]="status.status"> <span>{{ status.status.replace("_", " ") }}</span> </span>
</div>

<div>
    <h3>Anonymization</h3>

    <span class="status mt-2" [ngClass]="status.processes['ANONYMIZATION'].externalProcessStatus">
        <span>{{ status.processes['ANONYMIZATION'].externalProcessStatus.replace("_", " ") }}</span>
    </span>
</div>
<div>
    <h3>Synthetization</h3>


    <span class="status mt-2" [ngClass]="status.processes['SYNTHETIZATION'].externalProcessStatus">
        <span>{{ status.processes['SYNTHETIZATION'].externalProcessStatus.replace("_", " ") }}</span>
    </span>

    <div>
        <table>
            <thead>
            <th>Step</th>
            <th>Finished</th>
            <th>Time</th>
            </thead>
            <tbody>
            <tr *ngFor="let step of synthProcess?.status">
                <td>{{step.step}}</td>
                <td>{{step?.completed}}</td>
                <td> {{ (step?.completed === "True") ? step?.duration : step?.remaining_time }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

