<mat-form-field style="width: 100%;">
    <mat-label>Which algorithm do you want to use?</mat-label>

    <mat-select #selectElement [disabled]="disabled" (selectionChange)="onChange($event)" [ngModel]="initialValue"
                required>
        <mat-option *ngFor="let option of algorithms" [value]="option">
            {{ option.display_name }}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="selectElement.value == null">
        Please select an algorithm
    </mat-error>
</mat-form-field>
