<p>
    The transformation of the data for your configuration was successful. You can inspect the result below. <br /><br />

    Lines that are marked in red will be removed from your dataset, as they could not be transformed with your
    configuration. The faulty column was marked in a deeper tone of red. <br />

    This application does not offer any mechanism to fix your data. You can however continue with the number of valid
    rows. <br />

    If you want to change anything, please adjust your data manually and start again. By clicking "Continue" below, you
    accept that the data will be stored locally in the processing database of the application. The data will be deleted
    after a certain amount of time. You can also delete it manually at any point in time.
</p>

<p class="mt-5">
    <span class="h2">Rows in the dataset: {{ numberRows$ | async }} rows</span>
</p>
<p class="mt-1">
    <span class="h2">Rows that will be adjusted: {{ numberInvalidRows$ | async }} rows</span>
</p>

<div class="d-flex align-items-center justify-content-start my-2">
    <button mat-raised-button color="primary" class="me-2" (click)="confirmData()" [disabled]="locked">
        Continue
        <mat-icon>arrow_forward</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="openDeleteDialog(deleteDialog)">
        <mat-icon>delete</mat-icon>
        Delete Data
    </button>
</div>

<app-data-table step="validation"></app-data-table>

<ng-template #deleteDialog>
    <mat-dialog-content class="mat-typography">
        <h1>Delete Data</h1>
        <div>
            Do you really want to delete the data.
            This will also delete the data and result of all following steps.
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="primary">Keep Data</button>
        <button mat-raised-button mat-dialog-close color="warn" (click)="deleteData()">Delete Data</button>
    </mat-dialog-actions>
</ng-template>
