
<a title="Show information" (click)="openDialog(inputInfoDialog)" class="icon-enabled">
    <mat-icon fontIcon="info"></mat-icon>
</a>

<ng-template #inputInfoDialog>
    <mat-dialog-content class="mat-typography">

        <div class="info-table">

                <span class="info-name">Name:</span>
                <span class="info-value">{{ configurationInputDefinition.name }}</span>

                <span class="info-name">Default Value:</span>
                <span class="info-value">{{ configurationInputDefinition.default_value }}</span>

            <ng-container *ngIf="configurationInputDefinition.type === ConfigurationInputType.INTEGER || configurationInputDefinition.type === ConfigurationInputType.FLOAT">

                <span class="info-name">Minimum Value:</span>
                <span class="info-value">{{ configurationInputDefinition.min_value }}</span>

                <span class="info-name">Maximum Value:</span>
                <span class="info-value">{{ configurationInputDefinition.max_value }}</span>
            </ng-container>

            <span class="info-name">Description:</span>
            <span class="info-value">{{ configurationInputDefinition.description }}</span>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="primary">Close</button>
    </mat-dialog-actions>
</ng-template>
