<ng-container *ngIf="appConfig$ | async as appConfig">

    <div class="bg-white p-5 rounded border">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="d-flex flex-column mb-3">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input type="text" formControlName="username" matInput autocomplete="username">
            </mat-form-field>

            <app-password-input label="Password" [passwordRequirements]="appConfig.passwordRequirements"
                                autocomplete="new-password" [control]="registerForm.controls['password']">
            </app-password-input>

            <app-password-input label="Repeat Password" autocomplete="new-password"
                                [control]="registerForm.controls['passwordRepeated']">
            </app-password-input>

            <button type="submit" [disabled]="!registerForm.valid" mat-raised-button color="primary">
                Create and log in to new Account
            </button>
        </form>
        <div style="display: flex; flex-direction: column;">
            <div style="margin: auto;">Already have an Account?</div>
            <button mat-raised-button color="primary" (click)="navigateToLogin()">Log in to existing Account</button>
        </div>
    </div>

</ng-container>
