<ng-container *ngFor="let inputDefinition of group.parameters">
    <app-configuration-input [configurationInputDefinition]="inputDefinition" [form]="formGroup" [disabled]="disabled">
    </app-configuration-input>
</ng-container>

<mat-accordion>
    <ng-container *ngFor="let groupDefinition of group.configurations | keyvalue">

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title [class.invalid-group]="formGroup.controls[groupDefinition.key].invalid">
                    {{ groupDefinition.value.display_name }}
                </mat-panel-title>
                <mat-panel-description>
                    {{ groupDefinition.value.description }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-configuration-group #configurations [form]="formGroup" [fromGroupName]="groupDefinition.key"
                                     [group]="groupDefinition.value" [disabled]="disabled" [isOption]="false">
            </app-configuration-group>
        </mat-expansion-panel>

    </ng-container>
    <ng-container *ngFor="let groupDefinition of group.options | keyvalue">

        <mat-expansion-panel [class.prevent-click]="isGroupEmpty(groupDefinition.value)"
                             [hideToggle]="isGroupEmpty(groupDefinition.value)">
            <mat-expansion-panel-header>

                <mat-panel-title [class.invalid-group]="formGroup.controls[groupDefinition.key].invalid">
                    <mat-checkbox #optionCheckboxes [id]="'isActive' + groupDefinition.key" [disabled]="disabled"
                                  [value]="groupDefinition.key" (change)="toggleActive($event);" [checked]="true"
                                  (click)="$event.stopPropagation();" class="allow-click" color="primary">
                    </mat-checkbox>

                    <span>
                        {{ groupDefinition.value.display_name }}
                    </span>

                    <ng-container *ngIf="groupDefinition.value.disclaimer">
                        <span #disclaimer class="icon-warning ms-2 position-relative">
                            <mat-icon fontIcon="warning"></mat-icon>

                            <app-tooltip [target]="disclaimer">
                                {{ groupDefinition.value.disclaimer }}
                            </app-tooltip>
                        </span>
                    </ng-container>

                </mat-panel-title>
                <mat-panel-description>
                    {{ groupDefinition.value.description }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-configuration-group #options [form]="formGroup" [fromGroupName]="groupDefinition.key"
                                     [group]="groupDefinition.value" [disabled]="disabled" [isOption]="true">
            </app-configuration-group>
        </mat-expansion-panel>

    </ng-container>

    <ng-container *ngIf="additionalConfigs">
        <ng-container *ngFor="let additionalConfig of additionalConfigs.configs">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title
                        [class.invalid-group]="formGroup.controls[additionalConfig.formGroupName].invalid">
                        {{ additionalConfig.title }}
                    </mat-panel-title>
                    <mat-panel-description>{{additionalConfig.description}}</mat-panel-description>
                </mat-expansion-panel-header>

                <ng-container #dynamicComponentContainer></ng-container>
            </mat-expansion-panel>
        </ng-container>
    </ng-container>

</mat-accordion>
