    
<div class="d-flex flex-column w-100">
    <mat-form-field>
        <mat-label>Select an attribute to configure</mat-label>
        <mat-select
            #attributeDropdown
            (valueChange)="onSelectionChange($event)"
        >
            <mat-option disabled [value]="undefined">Select an attribute to configure</mat-option>
            <mat-option
                *ngFor="let row of this.getAvailableConfigurationsSortedById()"
                [value]="row.index"
                >{{ row.name }}</mat-option
            >
        </mat-select>
    </mat-form-field>
    <div class="d-flex w-100 justify-content-start align-content-center">
        <a class="configuration-link" [disabled]="getAvailableConfigurations().length <= 0"
            (click)="addAllAttributes()" mat-raised-button color="primary" title="Add all attributes">
            <span>Add all attributes</span>
        </a>
        <a class="configuration-link ms-2" [disabled]="!hasAttributeConfiguration()"
            (click)="removeAllAttributes()" mat-raised-button color="warn" title="Remove all attributes">
            <span>Remove all attributes</span>
        </a>
    </div>

    <span *ngIf="valid" style="color:green;">Valid</span>
    <span *ngIf="!valid" style="color: red;">Invalid</span>
</div>


<div class="mt-4" *ngFor="let attrConfig of this.getAttributeConfiguration()?.attributeConfiguration, index as i">
    <app-anonymization-attribute-row
        [anonymizationRowConfiguration]="attrConfig"
        [configurationRow]="getConfigurationForIndex(i)"
        [form]="form"
        (removeEvent)="removeAttributeConfigurationRow(attrConfig)"
    >
    </app-anonymization-attribute-row>
</div>
