<mat-form-field class="flat-mat-form-field">
    <mat-select [(value)]="graph" (selectionChange)="update($event)">
        <mat-option *ngIf="comparison" value="correlation">Correlation</mat-option>
        <mat-option *ngIf="continuous" value="density">Density</mat-option>
        <mat-option *ngIf="!continuous" value="frequency">Frequency</mat-option>
        <!-- TODO Disabled because issues with a wide range of values -->
<!--        <mat-option *ngIf="dataType === DataType.DATE" value="heatmap">Heatmap</mat-option>-->
        <mat-option *ngIf="continuous" value="histogram">Histogram</mat-option>
    </mat-select>
</mat-form-field>
