::ng-deep .flat-mat-form-field .mat-mdc-text-field-wrapper {
    z-index: 2;
}

::ng-deep .flat-mat-form-field .mat-mdc-form-field-infix {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    min-height: 0 !important;
}
