<div class="d-flex align-items-center flex-column mat-elevation-z8">
    <div class="d-flex justify-content-between align-items-center bg-white w-100 p-2 table-control-row">
        <mat-paginator id="tableHeader" [length]="total" [pageSizeOptions]="[10, 50, 100, 1000]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
        <mat-form-field>
            <mat-label>Filter data</mat-label>
            <mat-select (selectionChange)="applyFilter($event)" [value]="filterCriteria">
                <mat-option value="ALL">All</mat-option>
                <mat-option value="VALID">Valid</mat-option>
                <mat-option value="ERRORS">Errors</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div id="tableWrapper">
        <table id="tableContent" mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element">{{element.position + 1}}</td>
            </ng-container>
            <!-- Dynamic columns -->
            <ng-container *ngFor="let column of displayedColumns | slice:1; let columnIndex = index"
                          [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef>{{column}}</th>
                <td mat-cell *matCellDef="let element" [ngClass]="{ 'errorColumn': element.errorsInRow.includes(columnIndex) }">
                    {{element[column]}}
                </td>
            </ng-container>


            <tr mat-header-row
                *matHeaderRowDef="displayedColumns" class="header-row">
            </tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{ 'errorRow': rowHasErrors(row.errorsInRow) }">
            </tr>
        </table>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    </div>
</div>
