<ng-container *ngIf="pageData$ | async as pageData">

    <div style="display: flex;" class="mb-2 pt-2 border-top border-1">
        <span style="font-size: 1.2rem; margin-right: 0.2rem;">Privacy Risk Summary</span>

        <button mat-flat-button [matMenuTriggerFor]="riskColorLegend" class="flat-mat-form-button ms-auto">
            Legend
        </button>
    </div>
    <div>
        <div class="risk-summary">
            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
                <div>
                    <div class="classifier-cell classifier-head"></div>
                    <div *ngIf="risks.linkage_health_risk != null" class="classifier-cell">Linkage</div>
                    <div *ngIf="risks.univariate_singling_out_risk != null" class="classifier-cell">
                        Singling-out univariate
                    </div>
                    <div *ngIf="risks.multivariate_singling_out_risk != null" class="classifier-cell">
                        Singling-out multivariate
                    </div>
                    <div *ngIf="risks.inference_average_risk != null" class="classifier-cell">
                        Average Attribute Inference
                    </div>
                </div>

                <div>
                    <div class="classifier-cell classifier-head">Overall Risk [0,1]</div>
                    <div *ngIf="risks.linkage_health_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.linkage_health_risk.risk_value | riskColorIndex]">
                        </span>
                        <span>{{ risks.linkage_health_risk.risk_value | number:'1.2-2' }}</span>
                    </div>
                    <div *ngIf="risks.univariate_singling_out_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.univariate_singling_out_risk.risk_value | riskColorIndex]">
                        </span>
                        <span>{{ risks.univariate_singling_out_risk.risk_value | number:'1.2-2' }}</span>
                    </div>
                    <div *ngIf="risks.multivariate_singling_out_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.multivariate_singling_out_risk.risk_value | riskColorIndex]">
                        </span>
                        <span>{{ risks.multivariate_singling_out_risk.risk_value | number:'1.2-2' }}</span>
                    </div>
                    <div *ngIf="risks.inference_average_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.inference_average_risk.priv_risk | riskColorIndex]">
                        </span>
                        <span>{{ risks.inference_average_risk.priv_risk | number:'1.2-2' }}</span>
                    </div>
                </div>

                <div>
                    <div class="classifier-cell classifier-head">Risk Confidence Interval</div>
                    <div *ngIf="risks.linkage_health_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.linkage_health_risk.risk_value | riskColorIndex]">
                        </span>
                        <span>{{ risks.linkage_health_risk.risk_ci | riskConfidenceInterval }}</span>
                    </div>
                    <div *ngIf="risks.univariate_singling_out_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.univariate_singling_out_risk.risk_value | riskColorIndex]">
                        </span>
                        <span>{{ risks.univariate_singling_out_risk.risk_ci | riskConfidenceInterval }}</span>
                    </div>
                    <div *ngIf="risks.multivariate_singling_out_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.multivariate_singling_out_risk.risk_value | riskColorIndex]">
                        </span>
                        <span>{{ risks.multivariate_singling_out_risk.risk_ci | riskConfidenceInterval }}</span>
                    </div>
                    <!-- No risk CI for average inference -->
                    <div *ngIf="risks.inference_average_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[0]">
                        </span>
                        <!-- <span>{{ risks.inference_average_risk.risk_value | number:'1.2-2'}}</span> -->
                        <span> </span>
                    </div>
                </div>

                <div>
                    <div class="classifier-cell classifier-head">Successful
                        Attacks
                    </div>
                    <div *ngIf="risks.linkage_health_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.linkage_health_risk.attack_rate.value | riskColorIndex]">
                        </span>
                        <span>{{ risks.linkage_health_risk.attack_rate.value | number:'1.2-2' }}</span>
                    </div>
                    <div *ngIf="risks.univariate_singling_out_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.univariate_singling_out_risk.attack_rate.value | riskColorIndex]">
                        </span>
                        <span>{{ risks.univariate_singling_out_risk.attack_rate.value | number:'1.2-2' }}</span>
                    </div>
                    <div *ngIf="risks.multivariate_singling_out_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.multivariate_singling_out_risk.attack_rate.value | riskColorIndex]">
                        </span>
                        <span>{{ risks.multivariate_singling_out_risk.attack_rate.value | number:'1.2-2' }}</span>
                    </div>
                    <div *ngIf="risks.inference_average_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.inference_average_risk.attack_rate_success_rate | riskColorIndex]">
                        </span>
                        <span>{{ risks.inference_average_risk.attack_rate_success_rate | number:'1.2-2' }}</span>
                    </div>
                </div>

                <div>
                    <div class="classifier-cell classifier-head">Error Rate</div>
                    <!-- TODO : change color legend ? -->
                    <div *ngIf="risks.linkage_health_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.linkage_health_risk.attack_rate.error | riskColorIndex]">
                        </span>
                        <span>{{ risks.linkage_health_risk.attack_rate.error | number:'1.2-2' }}</span>
                    </div>

                    <div *ngIf="risks.univariate_singling_out_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks?.univariate_singling_out_risk?.attack_rate?.error | riskColorIndex]">
                        </span>
                        <span>{{ risks.univariate_singling_out_risk.attack_rate.error | number:'1.2-2' }}</span>
                    </div>
                    <div *ngIf="risks.multivariate_singling_out_risk != null"
                         class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.multivariate_singling_out_risk.attack_rate.error | riskColorIndex]">
                        </span>
                        <span>{{ risks.multivariate_singling_out_risk.attack_rate.error | number:'1.2-2' }}</span>
                    </div>
                    <div *ngIf="risks.inference_average_risk != null" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[risks.inference_average_risk.attack_rate_error | riskColorIndex]">
                        </span>
                        <span>{{ risks.inference_average_risk.attack_rate_error | number:'1.2-2' }}</span>
                    </div>
                </div>

                <div>
                    <div class="classifier-cell classifier-head">Time Taken</div>
                    <div *ngIf="risks.linkage_health_risk != null" class="classifier-cell">
                        <span class="metric-similarity" [style.background-color]="pageData.colorScheme[0]"></span>
                        <span>{{ risks.linkage_health_risk.execution_time | number:'1.2-2' }}</span>
                    </div>
                    <div *ngIf="risks.univariate_singling_out_risk != null" class="classifier-cell">
                        <span class="metric-similarity" [style.background-color]="pageData.colorScheme[0]"></span>
                        <span>{{ risks.univariate_singling_out_risk.execution_time | number:'1.2-2' }}</span>
                    </div>
                    <div *ngIf="risks.multivariate_singling_out_risk != null" class="classifier-cell">
                        <span class="metric-similarity" [style.background-color]="pageData.colorScheme[0]"></span>
                        <span>{{ risks.multivariate_singling_out_risk.execution_time | number:'1.2-2' }}</span>
                    </div>
                    <div *ngIf="risks.inference_average_risk != null" class="classifier-cell">
                        <span class="metric-similarity" [style.background-color]="pageData.colorScheme[0]"></span>
                        <span>{{ risks.inference_average_risk.execution_time | number:'1.2-2' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="risks.inference_risk != null && (risks.inference_risk.length ?? 0) > 0 && risks.inference_results != null && (risks.inference_results.length ?? 0) > 0">
        <div style="display: flex;" class="mb-2 pt-2 border-top border-1">
            <span style="font-size: 1.2rem; margin-right: 0.2rem;">Attribute Inference (Details)</span>
        </div>
        <div class="risk-summary">

            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
                <div>
                    <div class="classifier-cell classifier-head"></div>
                    <div *ngFor="let attribute of risks.inference_risk" class="classifier-cell">
                        {{ attribute.name }}
                    </div>
                </div>

                <div>
                    <div class="classifier-cell classifier-head">Overall Risk [0,1]</div>
                    <div *ngFor="let attribute of risks.inference_risk" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[attribute.value.risk_value | riskColorIndex]">
                        </span>
                        <span>{{ attribute.value.risk_value  | number:'1.2-2' }}</span>
                    </div>
                </div>
                <div>
                    <div class="classifier-cell classifier-head">Risk Confidence Interval</div>
                    <div *ngFor="let attribute of risks.inference_risk" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[attribute.value.risk_value | riskColorIndex]">
                        </span>
                        <span>{{ attribute?.value?.risk_ci | riskConfidenceInterval }}</span>
                    </div>
                </div>
                <div>
                    <div class="classifier-cell classifier-head">Inference Rate [0,1]</div>
                    <div *ngFor="let attribute of risks.inference_results" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[attribute.value.attack_rate.value | riskColorIndex]">
                        </span>
                        <span>{{ attribute?.value?.attack_rate?.value  | number:'1.2-2' }}</span>
                    </div>
                </div>
                <div>
                    <div class="classifier-cell classifier-head">Error Rate</div>
                    <div *ngFor="let attribute of risks.inference_results" class="classifier-cell">
                        <span class="metric-similarity"
                              [style.background-color]="pageData.colorScheme[attribute.value.attack_rate.error | riskColorIndex]">
                        </span>
                        <span>{{ attribute?.value?.attack_rate?.error  | number:'1.2-2' }}</span>
                    </div>
                </div>
                <div>
                    <div class="classifier-cell classifier-head">Time Taken</div>
                    <div *ngFor="let attribute of risks.inference_results" class="classifier-cell">
                        <span class="metric-similarity" [style.background-color]="pageData.colorScheme[0]"></span>
                        <span>{{ attribute?.value?.execution_time  | number:'1.2-2' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-menu #riskColorLegend="matMenu" xPosition="before" yPosition="below">
        <app-color-legend [goodLabel]="'Low'" [badLabel]="'High'"></app-color-legend>
    </mat-menu>

</ng-container>
