<ng-template #projectExportDialog>
    <h2 mat-dialog-title class="dialog-title fs-4 fw-bold">Project Export</h2>
    <mat-dialog-content class="mat-typography dialog-content">

        <div class="vertical-boxes">
            <div class="box">
                <div class="box-name">Export</div>

                <div class="mb-3">
                    <!-- Configuration selection -->
                    <div class="settings-label">
                        Configurations to export
                    </div>
                    <div *ngFor="let config of configurationService.getRegisteredConfigurations()">
                        <span>
                            <mat-checkbox [id]="config.name" color="primary"
                                          [checked]="statusService.isStepCompleted(config.availableAfterStep)"
                                          [disabled]="!statusService.isStepCompleted(config.availableAfterStep)"
                                          (input)="updateNumberChecked($event)">
                                {{ config.displayName }}
                            </mat-checkbox>
                        </span>
                    </div>
                    <div class="settings-label">
                        Bundle Configurations
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="bundleConfigurations" color="primary">
                            Bundle Configurations into one file
                        </mat-checkbox>
                    </div>
                </div>

                <!-- Datasets -->
                <div class="box-name">Datasets</div>
                <div class="mb-3">
                    <div class="settings-label">
                        Datasets to export
                    </div>
                    <table>
                        <tr>
                            <td>
                                Original Dataset
                            </td>
                            <td>
                                <mat-checkbox #result color="primary" value="original.dataset"
                                              (input)="updateNumberChecked($event)">
                                    Dataset
                                </mat-checkbox>
                            </td>
                            <td>
                                <mat-checkbox #result color="primary" value="original.statistics"
                                              (input)="updateNumberChecked($event)">
                                    Statistics
                                </mat-checkbox>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Anonymization Result
                            </td>
                            <td>
                                <mat-checkbox #result color="primary" value="pipeline.execution.anonymization.dataset"
                                              (input)="updateNumberChecked($event)">
                                    Dataset
                                </mat-checkbox>
                            </td>
                            <td>
                                <mat-checkbox #result color="primary"
                                              value="pipeline.execution.anonymization.statistics"
                                              (input)="updateNumberChecked($event)">
                                    Statistics
                                </mat-checkbox>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Synthetization Result
                            </td>
                            <td>
                                <mat-checkbox #result color="primary" value="pipeline.execution.synthetization.dataset"
                                              (input)="updateNumberChecked($event)">
                                    Dataset
                                </mat-checkbox>
                            </td>
                            <td>
                                <mat-checkbox #result color="primary"
                                              value="pipeline.execution.synthetization.statistics"
                                              (input)="updateNumberChecked($event)">
                                    Statistics
                                </mat-checkbox>
                            </td>
                            <td>
                                <mat-checkbox #result color="primary" value="pipeline.execution.synthetization.other"
                                              (input)="updateNumberChecked($event)">
                                    Model
                                </mat-checkbox>
                            </td>
                        </tr>
                    </table>

                </div>


                <!-- Evaluation results -->
                <div class="box-name">Evaluation</div>
                <mat-checkbox color="primary">
                    Technical Evaluation
                </mat-checkbox>
                <mat-checkbox color="primary">
                    Risk Evaluation
                </mat-checkbox>
            </div>
        </div>


    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" [disabled]="numberChecked <= 0" (click)="exportProject()">
            <mat-icon>file_download</mat-icon>
            Download
        </button>
        <button mat-raised-button mat-dialog-close color="primary">Close</button>
    </mat-dialog-actions>
</ng-template>
