@import "../../../../styles/layout.less";
@import "../../../../styles/status.less";

.synthetization-components {
    display: grid;
    gap: 1rem;
}

.synthetization-component-title {
    font-weight: 600;
    margin: 0 0 0.5rem 0;
}
