<div class="config-input-row">

    @if (heading != null) {
        <div class="config-input-row-label">
            {{ heading }}
        </div>
    }

    <mat-form-field class="config-input-row-field">
        <mat-label> {{ label }}</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" [formControl]="control" matInput
               [autocomplete]="autocomplete">
        <mat-icon class="icon-enabled" (click)="hidePassword = !hidePassword; $event.stopPropagation();" matSuffix>
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>

        <mat-error>
            {{ createPasswordErrorMessage() }}
        </mat-error>
    </mat-form-field>

    @if (passwordRequirements != null) {
        <div class="config-input-row-info">
            <a title="Show password requirements" (click)="openDialog(passwordRequirementsDialog)" class="icon-enabled">
                <mat-icon fontIcon="info"></mat-icon>
            </a>
        </div>

        <ng-template #passwordRequirementsDialog>

            <h2 mat-dialog-title class="dialog-title">Password Requirements</h2>
            <mat-dialog-content class="pt-2">
                Your password has to met the following requirements:
                <ul>
                    <li>It must be at least {{ passwordRequirements.minLength }} characters long</li>
                    <li *ngIf="passwordRequirements.constraints.includes('LOWERCASE')">
                        It must contain at least one lowercase character
                    </li>
                    <li *ngIf="passwordRequirements.constraints.includes('UPPERCASE')">
                        It must contain at least one uppercase character
                    </li>
                    <li *ngIf="passwordRequirements.constraints.includes('DIGIT')">
                        It must contain at least one digit
                    </li>
                    <li *ngIf="passwordRequirements.constraints.includes('SPECIAL_CHAR')">
                        It must contain at least one special character
                    </li>
                </ul>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-raised-button mat-dialog-close color="primary" type="button">Close</button>
            </mat-dialog-actions>

        </ng-template>

    }
</div>

