<div class="bg-white p-5 rounded border">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column mb-3">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" formControlName="username" matInput autocomplete="username">
        </mat-form-field>

        <app-password-input label="Password" [control]="passwordControl">
        </app-password-input>

        <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
    </form>
    <div style="display: flex; flex-direction: column;">
        <div style="margin: auto;">Want to create a new account?</div>
        <button mat-raised-button color="primary" (click)="navigateToRegister()">Create new Account</button>
    </div>
</div>
