<div class="main-wrapper">
    <app-loading-spinner></app-loading-spinner>

    <div class="content-left">
        <app-navigation></app-navigation>
    </div>

    <div class="content-right">
        <div class="title-wrapper">
            {{getTitle()}}
        </div>
        <div class="page-content">
            <!-- Info for locked step -->
            <ng-container *ngIf="locked$ | async as locked">
                <app-info-card *ngIf="locked.isLocked" typeClass="card-warn">
                    <div *ngIf="locked.reasons.includes(LockedReason.STEP_CONFIRMED)">
                        The data import is locked as subsequent steps depend on it.
                        In order to modify the data configuration, you have to reset the subsequent steps first.

                        <button mat-raised-button color="warn"
                                [disabled]="locked.reasons.includes(LockedReason.PROCESS_RUNNING)"
                                (click)="openDeleteDialog(deleteDialog);">
                            Delete all results and unlock the data import
                        </button>
                    </div>
                    <div *ngIf="locked.reasons.includes(LockedReason.PROCESS_RUNNING)">
                        This step is locked because a Process is currently running.
                        You have to wait for it to finish or cancel the process before you can modify this step.
                    </div>
                    <div *ngIf="locked.reasons.includes(LockedReason.PREVIOUS_STAGE_NOT_FINISHED)">
                        This step is locked because the previous stage is not finished.
                    </div>
                </app-info-card>

                <ng-template #deleteDialog>
                    <mat-dialog-content class="mat-typography">
                        <h1>Delete Results</h1>
                        <div>Do you really want to delete all results?</div>
                    </mat-dialog-content>
                    <mat-dialog-actions align="end">
                        <button mat-raised-button mat-dialog-close color="primary">Keep Results</button>
                        <button mat-raised-button mat-dialog-close color="warn"
                                (click)="deleteData(locked.currentStep!.enum)">Delete Results
                        </button>
                    </mat-dialog-actions>
                </ng-template>
            </ng-container>

            <!-- Error -->
            <ng-container *ngIf="errorList$ | async as errorList">
                <ng-container *ngFor="let error of errorList; let i = index">
                    <app-info-card typeClass="card-failure" [closable]="true" (onClose)="errorHandlingService.clearError(i)">
                        <div style="white-space: pre-line;">{{ error }}</div>
                    </app-info-card>
                </ng-container>
            </ng-container>

            <!-- Demo disclaimer -->
            <ng-container *ngIf="appConfig$ | async as appConfig">
                <app-info-card [hidden]="!appConfig.isDemoInstance" typeClass="card-warn">
                    This is a demo instance.
                    Please do not upload any real data!
                    Accounts will be deleted every day at 02:00 am.
                </app-info-card>
            </ng-container>

            <!-- Latest notification -->
            @if (latestNotification$ | async; as notification) {
                <app-info-card @slideInFromTop [closable]="true" class="notification"
                               [typeClass]="'card-' + notification.type"
                               (onClose)="notificationService.clearLatestNotification();">
                    {{ notification.message }}
                </app-info-card>
            }

            <router-outlet></router-outlet>
        </div>
    </div>
</div>
