.notification {
    justify-self: anchor-center;
    position: absolute;
    left: 0;
    right: 0;
    font-size: var(--bs-body-font-size);
    top: 20px;
    width: 60%;
    // Lower z-index than the title-wrapper
    z-index: 10;
}

.slide-in-from-top {
    animation: slide-fade 300ms ease-in;
}

@keyframes slide-fade {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-out-to-top {
    transform: translateY(-100%);
    opacity: 0;
    transition:
        transform 300ms ease-out,
        opacity 300ms ease-out;
}

.title-actions {
    right: 0;
    margin-right: 1rem;
    position: absolute;
}

.title-actions > :not(:last-child) {
    margin-right: 0.5rem;
}
