<div class="main-wrapper">
    <app-loading-spinner></app-loading-spinner>

    <div class="content-left">
        <app-navigation></app-navigation>
    </div>

    <div class="content-right">
        <div class="title-wrapper">
            {{getTitle()}}
        </div>
        <div class="page-content">

            <app-info-card [hidden]="!appConfigService.config?.isDemoInstance" typeClass="card-warn">
                This is a demo instance.
                Please do not upload any real data!
                Accounts will be deleted every day at 02:00 am.
            </app-info-card>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>
