.notification {
    justify-self: anchor-center;
    position: absolute;
    left: 0;
    right: 0;
    font-size: var(--bs-body-font-size);
    top: 20px;
    width: 60%;
    // Lower z-index than the title-wrapper
    z-index: 10;
}

.notification-center {
    right: 0;
    margin-right: 1rem;
    position: absolute;
}
