<mat-expansion-panel appExpansionPanelOverflow [disabled]="stepIndex > currentStep" class="workstep-expansion-panel"
                     [class.workstep-complete]="currentStep > stepIndex || stepsCompleted">
<mat-expansion-panel-header>
        <mat-panel-title>
            <app-workstep-title [stepIndex]="stepIndex">
                {{ title }}
            </app-workstep-title>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="cinnamon-workstep-div"></div>

    <ng-template matExpansionPanelContent>
        <ng-content></ng-content>

        <app-workstep [locked]="locked" [stepIndex]="stepIndex" [valid]="!invalid" [altConfirm]="altConfirm"
                      [altConfirmValid]="altConfirmValid" [altConfirmAll]="altConfirmAll"
                      (confirm)="confirm.emit($event)" (confirmAlt)="confirmAlt.emit($event)"></app-workstep>
    </ng-template>

</mat-expansion-panel>
