<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <mat-accordion>
        <ng-container *ngFor="let groupDefinition of getGroupNames()">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ algorithmDefinition.arguments[groupDefinition].display_name }}</mat-panel-title>
                    <mat-panel-description> {{ algorithmDefinition.arguments[groupDefinition].description }}</mat-panel-description>
                </mat-expansion-panel-header>

                <app-configuration-group [form]="form" [fromGroupName]="groupDefinition"
                                         [group]="algorithmDefinition.arguments[groupDefinition]" [disabled]="disabled">
                </app-configuration-group>

            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>

    <div class="mt-2">
        <button type="submit" mat-raised-button color="primary" [disabled]="!valid || disabled">
            Start Algorithm
        </button>
    </div>

</form>
