<div class="bg-white p-5 rounded border">
    <div class="d-flex flex-column mb-3">
        <div *ngFor="let column of configuration.getColumnConfigurations().getAll(), index as i">
            <app-attribute-configuration [attrNumber]="i.toString()" [columnType]="column.type" [columnName]="column.name.toString() !== '' ? column.name : 'column_' + i">

            </app-attribute-configuration>
        </div>
    </div>
    <div class="px-2">
        <button class="btn btn-primary">Confirm configuration and start validation</button>
    </div>
</div>