<app-info-card [hidden]="error === ''" typeClass="card-failure">
    <div [innerHTML]="error"></div>
</app-info-card>

<div class="p-5">
    <div
        class="mb-3 alert alert-warning" role="alert"
        *ngIf="fileService.fileConfiguration.fileType == FileType.XLSX">
        <b>WARNING:</b> For XLSX files, Dates can not be estimated correctly, because Excel stores them as numbers internally. They will instead be configured as INTEGER. <br/>
        Please make sure, that you configure every column that contains dates manually.
    </div>
    <!-- Upload -->
    <div class="py-1">
        <app-configuration-upload #configurationUpload [configurationName]="configuration.CONFIGURATION_NAME"
                                  (onUpload)="handleConfigUpload($event);">
        </app-configuration-upload>
    </div>

    <div class="d-flex flex-column mb-3">
        <div *ngFor="let column of configuration.getColumnConfigurations().getAll(), index as i">
            <app-attribute-configuration #attributeConfiguration [attrNumber]="i.toString()" [column]="column"
                                         (onValidation)="onValidation($event)" (onInput)="checkUniqueColumnNames()">

            </app-attribute-configuration>
        </div>

    </div>
    <div class="btn-group">
        <div class="px-1">
            <button mat-raised-button color="primary" (click)="confirmConfiguration()" [disabled]="!isValid">Confirm configuration and start validation</button>
        </div>
    </div>
</div>
