@import "../../../styles/colors";

th {
    padding-right: 0.4rem;
}

::-webkit-scrollbar {
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: @color-primary;
}
