<div class="wrapper">
    <!-- Basic information on the left -->
    <div class="d-flex flex-column" style="flex: 0 0 auto; min-width: 15rem;">

        <!-- Configured metadata on the top -->
        <div>
            <div class="fw-bold">
                Attribute Information
            </div>
            <div>
                <table>
                    <tr>
                        <th>Index:</th>
                        <td>{{ attributeStatistics.attribute_information.index }}</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>{{ attributeStatistics.attribute_information.name }}</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>{{ attributeStatistics.attribute_information.type }}</td>
                    </tr>
                    <tr>
                        <th>Scale:</th>
                        <td>{{ attributeStatistics.attribute_information.scale }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Important metrics on the bottom -->
        <div class="mt-2">
            <div class="fw-bold">
                Important Statistical Metrics
            </div>
            <div>
                <table>
                    <tr *ngIf="attributeStatistics.important_metrics.distinct_values">
                        <th>{{ attributeStatistics.important_metrics.distinct_values.display_name }}:</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.distinct_values.values[mainData], {max: 3, min: 3}) }}</td>
                    </tr>
                    <tr *ngIf="attributeStatistics.important_metrics.mode">
                        <th>{{ attributeStatistics.important_metrics.mode.display_name }}:</th>
                        <td>{{ attributeStatistics.important_metrics.mode.values[mainData] }}</td>
                    </tr>
                    <tr *ngIf="attributeStatistics.important_metrics.mean">
                        <th>{{ attributeStatistics.important_metrics.mean.display_name }}:</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.mean.values[mainData], {max: 3, min: 3}) }}</td>
                    </tr>
                    <tr *ngIf="attributeStatistics.important_metrics.variance">
                        <th>{{ attributeStatistics.important_metrics.variance.display_name }}:</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.variance.values[mainData], {max: 3, min: 3}) }}</td>
                    </tr>
                    <tr *ngIf="attributeStatistics.important_metrics.standard_deviation">
                        <th>{{ attributeStatistics.important_metrics.standard_deviation.display_name }}:</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.standard_deviation.values[mainData], {max: 3, min: 3}) }}</td>
                    </tr>
                    <tr *ngIf="attributeStatistics.important_metrics.minimum">
                        <th>{{ attributeStatistics.important_metrics.minimum.display_name }}:</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.minimum.values[mainData], {dataType, max: 3, min: 3}) }}</td>
                    </tr>
                    <tr *ngIf="attributeStatistics.important_metrics.maximum">
                        <th>{{ attributeStatistics.important_metrics.maximum.display_name }}:</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.maximum.values[mainData], {dataType, max: 3, min: 3}) }}</td>
                    </tr>
                    <tr *ngIf="attributeStatistics.important_metrics.missing_values_count">
                        <th>{{ attributeStatistics.important_metrics.missing_values_count.display_name }}:</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.missing_values_count.values[mainData], { min: 3, max: 3 }) }}</td>
                    </tr>
                    <tr *ngIf="attributeStatistics.important_metrics.missing_values_percentage">
                        <th>{{ attributeStatistics.important_metrics.missing_values_percentage.display_name }}:</th>
                        <td>{{ statisticsService.formatNumber(attributeStatistics.important_metrics.missing_values_percentage.values[mainData], {min: 3, max: 3}) }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Graph in the middle -->
    <div class="" style="flex : 1 1 auto; min-width: 300px;">

        <div class="w-100 h-100">
            <ng-container *ngIf="attributeStatistics.plot.density; else frequency">
                <button *ngIf="hasSynthetic" mat-flat-button [matMenuTriggerFor]="colorLegend" class="color-legend-button" style="margin-bottom: -32px;">Legend</button>
                <app-chart-select [dataType]="attributeStatistics.attribute_information.type" [(graph)]="graphType" [simple]="true"></app-chart-select>

                <ng-container *ngIf="graphType === 'density'">
                    <app-chart-density [columnConfiguration]="attributeStatistics.attribute_information"
                                       [data]="attributeStatistics.plot.density" [simple]="true"></app-chart-density>
                </ng-container>
                <ng-container *ngIf="graphType === 'histogram'">
                    <app-chart-frequency [data]="attributeStatistics.plot.histogram!" [limit]="null" [simple]="true"></app-chart-frequency>
                </ng-container>
                <ng-container *ngIf="attributeStatistics.attribute_information.type === DataType.DATE && graphType === 'heatmap'">
                    <app-chart-calendar [data]="attributeStatistics.plot.density" [simple]="true"></app-chart-calendar>
                </ng-container>
            </ng-container>
            <ng-template #frequency>
                <button *ngIf="hasSynthetic" mat-flat-button [matMenuTriggerFor]="colorLegend" class="color-legend-button" style="margin-bottom: 2px;">Legend</button>
                <ng-container *ngIf="attributeStatistics.plot.frequency_plot; else noChart">
                    <app-chart-frequency [data]="attributeStatistics.plot.frequency_plot" [limit]="null" [simple]="true"></app-chart-frequency>
                </ng-container>
            </ng-template>
            <ng-template #noChart>
            </ng-template>
        </div>
    </div>

    <!-- Button to open details on the right -->
    <div class="d-flex flex-row" style="flex: 0 0 auto;">
        <div class="m-auto">
            <button mat-raised-button mat-dialog-close color="primary" type="button"
                    (click)="openDetailsDialog(detailsDialog)">Details
            </button>
        </div>
    </div>

</div>

<ng-template #detailsDialog>
    <h2 mat-dialog-title class="dialog-title fs-4 fw-bold">Attribute Details "{{attributeStatistics.attribute_information.name}}"</h2>
    <mat-dialog-content class="mat-typography dialog-content">
        <app-data-inspection-attribute-details [attributeStatistics]="attributeStatistics" [mainData]="mainData"
                                               [sourceDataset]="sourceDataset" [sourceProcess]="sourceProcess" [processingSteps]="processingSteps">
        </app-data-inspection-attribute-details>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="primary" type="button">Close</button>
    </mat-dialog-actions>
</ng-template>

<mat-menu #colorLegend xPosition="after" yPosition="above">
    <div style="margin-left: 0.5rem;">
        <div class="color-legend-item" style="margin-bottom: 1rem;">
            <div [style.background-color]="statisticsService.colors[0]" style="width: 20px; height: 20px;"></div>
            <div>Original</div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <div *ngFor="let color of statisticsService.colors.slice(1); index as i" class="color-legend-item">
                <div [style.background-color]="color"></div>
                <div *ngIf="i == 0">Similar</div>
                <div *ngIf="i == statisticsService.colors.length - 2">Different</div>
            </div>
        </div>
    </div>

</mat-menu>
