<div class="d-flex flex-row" style="gap: 0.5rem; height: fit-content; align-items: stretch; overflow-y: auto; padding-bottom: 0.4rem;">
    <!-- Basic information on the right -->
    <div class="d-flex flex-column" style="flex: 0 0 auto;">

        <!-- Configured metadata on the top -->
        <div>
            <div class="fw-bold">
                Attribute Information
            </div>
            <div>
                <table>
                    <tr>
                        <th>Index:</th>
                        <td>{{ configuration.index }}</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>{{ configuration.name }}</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>{{ configuration.type }}</td>
                    </tr>
                    <tr>
                        <th>Scale:</th>
                        <td>{{ configuration.scale }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Important metrics on the bottom -->
        <div class="mt-2">
            <div class="fw-bold">
                Important Statistical Metrics
            </div>
            <div>
                <table>
                    <tr>
                        <th>Mean:</th>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>Variance:</th>
                        <td>0.5</td>
                    </tr>
                    <tr>
                        <th>Standard Deviation:</th>
                        <td>700</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Graph in the middle -->
    <div class="" style="flex : 1 1 auto; min-width: 300px;">
        <div class="border border-1 w-100 h-100">

            Graph
<!--                            <div *ngIf="( catImage$ | async) as catImageMetadata" class="h-100">-->
<!--                                <img [ngSrc]="catImageMetadata[0].url" [width]="catImageMetadata[0].width"-->
<!--                                     [height]="catImageMetadata[0].height" alt="Cat image"-->
<!--                                     style="max-height: 100%; max-width: 100%; height: auto; width: auto;">-->
<!--                            </div>-->
        </div>

    </div>

    <!-- Button to open details on the right -->
    <div class="d-flex flex-row" style="flex: 0 0 auto;">
        <div class="m-auto">
            <button mat-raised-button mat-dialog-close color="primary" type="button"
                    (click)="openDetailsDialog(detailsDialog)">Show details
            </button>
        </div>
    </div>

</div>

<ng-template #detailsDialog>
    <mat-dialog-content class="mat-typography">
        <app-data-inspection-attribute-details [configuration]="configuration"></app-data-inspection-attribute-details>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="primary" type="button">Close</button>
    </mat-dialog-actions>
</ng-template>
