<app-info-card [hidden]="error === ''" typeClass="card-failure">
    <div [innerHTML]="error"></div>
</app-info-card>



<div>
    <div
        class="mb-3 alert alert-warning" role="alert"
        *ngIf="isFileTypeXLSX$ | async">
        <b>WARNING:</b> For XLSX files, Dates can not be estimated correctly, because Excel stores them as numbers internally. They will instead be configured as INTEGER. <br/>
        Please make sure, that you configure every column that contains dates manually.
    </div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Attribute Configuration</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Upload -->
            <div class="py-1">
                <app-configuration-upload #configurationUpload [configurationName]="configuration.CONFIGURATION_NAME"
                                          (onUpload)="handleConfigUpload($event);" [disabled]="locked">
                </app-configuration-upload>
            </div>

            <div class="mt-2">
                Configure the attributes of the dataset:
            </div>

            <div class="d-flex flex-column">
                <form *ngIf="form" [formGroup]="form">
                    <div formArrayName="configurations">
                        <div *ngFor="let columnConfig of getColumnConfigurationForms(form); let i = index" [formGroupName]="i">
                            <app-attribute-configuration #attributeConfiguration [attrNumber]="i.toString()"
                                                         [disabled]="locked" (onInput)="checkUniqueColumnNames()"
                                                         [columnConfigurationForm]="columnConfig">
                            </app-attribute-configuration>
                        </div>
                    </div>

                </form>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Data Set Configuration</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <div>
                <mat-checkbox [checked]="createSplit" (change)="updateCreateSplit($event.checked)" [disabled]="locked">
                    Should an extended analysis of the data be carried out automatically (this reduces the amount of usable data and possibly worsens the results)
                </mat-checkbox>
                <div style="margin-left: 40px;">
                    <mat-expansion-panel [disabled]="!createSplit" [(expanded)]="isAdvanceConfigurationExpanded">
                        <mat-expansion-panel-header>
                            <mat-panel-title>Advanced Configuration</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field style="width: 100%;">
                            <mat-label>Percentage of Hold-Out split</mat-label>
                            <input matInput type="number" [disabled]="!createSplit || locked"
                                   [(ngModel)]="holdOutSplitPercentage" required min="0" max="1"/>
                            <mat-error>Percentage must be between 0 and 1</mat-error>
                        </mat-form-field>
                    </mat-expansion-panel>
                </div>
            </div>
        </mat-expansion-panel>

    </mat-accordion>

    <div class="btn-group mt-2">
        <div class="px-1">
            <button mat-raised-button type="button" color="primary" (click)="confirmConfiguration()" [disabled]="form.invalid || locked">Confirm configuration and start validation</button>
        </div>
    </div>
</div>
