<ng-container *ngIf="pageData$ | async as data">

    <div class="mb-3 alert alert-warning" role="alert" *ngIf="data.isFileTypeXLSX">
        <b>WARNING:</b> For XLSX files, Dates can not be estimated correctly, because Excel stores them as numbers
        internally. They will instead be configured as INTEGER. <br/>
        Please make sure, that you configure every column that contains dates manually.
    </div>

    <ng-container *ngIf="data.status.mode === Mode.STANDARD">

        <app-workstep-list confirmLabel="Confirm configuration and start validation" [locked]="data.locked.isLocked"
                           [invalid]="isInvalid" [numberSteps]="2" [step]="Steps.DATA_CONFIG"
                           (confirm)="confirmConfiguration()">

            <app-workstep-item header="Configure the attributes" [locked]="data.locked.isLocked"
                               [invalid]="attributeConfigurationform.invalid" [stepIndex]="0">
                <ng-container *ngTemplateOutlet="attributeConfiguration"></ng-container>
            </app-workstep-item>

            <app-workstep-item header="Configure the dataset" [locked]="data.locked.isLocked"
                               [invalid]="isDataSetConfigurationFormInvalid" [stepIndex]="1">
                <ng-container *ngTemplateOutlet="dataSetConfiguration"></ng-container>
            </app-workstep-item>

        </app-workstep-list>

    </ng-container>
    <ng-container *ngIf="data.status.mode === Mode.EXPERT">

        <app-workstep-box header="Attribute Configuration" toggleable [invalid]="attributeConfigurationform.invalid">
            <ng-container *ngTemplateOutlet="attributeConfiguration"></ng-container>
        </app-workstep-box>

        <app-workstep-box header="Dataset Configuration" toggleable [invalid]="attributeConfigurationform.invalid">
            <ng-container *ngTemplateOutlet="dataSetConfiguration"></ng-container>
        </app-workstep-box>

        <app-workstep-box header="Confirm your configuration">
            <div class="btn-group">
                <div class="px-1">
                    <button mat-raised-button type="button" color="primary" (click)="confirmConfiguration()"
                            [disabled]="attributeConfigurationform.invalid || isDataSetConfigurationFormInvalid || data.locked.isLocked">
                        Confirm configuration and start validation
                    </button>
                </div>
            </div>
        </app-workstep-box>

    </ng-container>


    <ng-template #attributeConfiguration>
        In this step you can view the selected/estimated data configuration.<br/>
        Please check the data configuration carefully, especially if the data configuration has been estimated.

        <div class="d-flex flex-column mt-2">
            <form *ngIf="attributeConfigurationform" [formGroup]="attributeConfigurationform">
                <div formArrayName="configurations">
                    <div *ngFor="let columnConfig of getColumnConfigurationForms(attributeConfigurationform); let i = index"
                         [formGroupName]="i">
                        <app-attribute-configuration #attributeConfiguration [attrNumber]="i.toString()"
                                                     [columnConfigurationForm]="columnConfig"
                                                     [confidence]="getConfidence(i)" [disabled]="data.locked.isLocked"
                                                     (onInput)="checkUniqueColumnNames()">
                        </app-attribute-configuration>
                    </div>
                </div>

            </form>
        </div>
    </ng-template>

    <ng-template #dataSetConfiguration>
        <div [formGroup]="dataSetConfigurationForm!">
            <mat-checkbox color="primary" formControlName="createHoldOutSplit">
                Should an extended analysis of the data be carried out automatically (this reduces the amount of usable data
                and possibly worsens the results)
            </mat-checkbox>
            <div style="margin-left: 40px;">
                <mat-expansion-panel [disabled]="!createHoldOutSplit" [(expanded)]="isAdvanceConfigurationExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Advanced Configuration</mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-configuration-input [disabled]="data.locked.isLocked" [form]="dataSetConfigurationForm!"
                                             [configurationInputDefinition]="holdOutPercentageDefinition">
                    </app-configuration-input>
                </mat-expansion-panel>
            </div>
        </div>
    </ng-template>

</ng-container>
