<div class="mb-3 alert alert-warning" role="alert" *ngIf="isFileTypeXLSX$ | async">
    <b>WARNING:</b> For XLSX files, Dates can not be estimated correctly, because Excel stores them as numbers internally. They will instead be configured as INTEGER. <br/>
    Please make sure, that you configure every column that contains dates manually.
</div>

<ng-container *ngIf="{status: status$ | async, dataSetInfo: dataSetInfo$ | async } as data">
    <ng-container *ngIf="data.status !== null && data.dataSetInfo !== null">

        <ng-container *ngIf="data.status.mode === Mode.STANDARD">

            <mat-accordion>
                <mat-expansion-panel [disabled]="0 > currentStep" class="workstep-expansion-panel"
                                     [class.workstep-complete]="currentStep > 0 || workstepService.isCompleted">
                <mat-expansion-panel-header>
                        <mat-panel-title>
                            <app-workstep-title [stepIndex]="0">
                                Configure the attributes
                            </app-workstep-title>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="cinnamon-workstep-div"></div>

                    <ng-container *ngTemplateOutlet="attributeConfiguration"></ng-container>
                    <app-workstep [locked]="locked" [stepIndex]="0" [valid]="!attributeConfigurationform.invalid"></app-workstep>
                </mat-expansion-panel>

                <mat-expansion-panel [disabled]="1 > currentStep" class="workstep-expansion-panel"
                                     [class.workstep-complete]="currentStep > 1 || workstepService.isCompleted">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <app-workstep-title [stepIndex]="1">
                                Configure general aspects
                            </app-workstep-title>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="cinnamon-workstep-div"></div>

                    <ng-container *ngTemplateOutlet="dataSetConfiguration"></ng-container>

                    <app-workstep [locked]="locked" [stepIndex]="1" [valid]="!isDataSetConfigurationFormInvalid"></app-workstep>
                </mat-expansion-panel>

            </mat-accordion>

            <div>
                <button mat-raised-button type="button" color="primary" (click)="confirmConfiguration()"
                        [disabled]="attributeConfigurationform.invalid || isDataSetConfigurationFormInvalid || locked || !workstepService.isCompleted">
                    Confirm configuration and start validation
                </button>
            </div>

        </ng-container>
        <ng-container *ngIf="data.status.mode === Mode.EXPERT">

            <mat-accordion multi>
                <mat-expansion-panel expanded class="workstep-expansion-panel">
                    <mat-expansion-panel-header class="workstep-expansion-panel-header">
                        <mat-panel-title [class.invalid-group]="attributeConfigurationform.invalid">
                            <h5 style="margin-bottom: 0;">Attribute Configuration</h5>
                        </mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="cinnamon-workstep-div"></div>

                    <ng-container *ngTemplateOutlet="attributeConfiguration"></ng-container>

                </mat-expansion-panel>

                <mat-expansion-panel expanded class="workstep-expansion-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title [class.invalid-group]="isDataSetConfigurationFormInvalid">
                            <h5 style="margin-bottom: 0;">Data Set Configuration</h5>
                        </mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="cinnamon-workstep-div"></div>

                    <ng-container *ngTemplateOutlet="dataSetConfiguration"></ng-container>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="box">
                <div class="btn-group mt-2">
                    <div class="px-1">
                        <button mat-raised-button type="button" color="primary" (click)="confirmConfiguration()"
                                [disabled]="attributeConfigurationform.invalid || isDataSetConfigurationFormInvalid || locked">
                            Confirm configuration and start validation
                        </button>
                    </div>
                </div>
            </div>

        </ng-container>
    </ng-container>
</ng-container>

<ng-template #attributeConfiguration>
    In this step you can view the selected/estimated data configuration.<br/>
    Please check the data configuration carefully, especially if the data configuration has been estimated.

    <div class="d-flex flex-column mt-2">
        <form *ngIf="attributeConfigurationform" [formGroup]="attributeConfigurationform">
            <div formArrayName="configurations">
                <div *ngFor="let columnConfig of getColumnConfigurationForms(attributeConfigurationform); let i = index" [formGroupName]="i">
                    <app-attribute-configuration #attributeConfiguration [attrNumber]="i.toString()"
                                                 [disabled]="locked" (onInput)="checkUniqueColumnNames()"
                                                 [columnConfigurationForm]="columnConfig">
                    </app-attribute-configuration>
                </div>
            </div>

        </form>
    </div>
</ng-template>

<ng-template #dataSetConfiguration>
    <div [formGroup]="dataSetConfigurationForm!">
        <mat-checkbox color="primary" formControlName="createHoldOutSplit">
            Should an extended analysis of the data be carried out automatically (this reduces the amount of usable data and possibly worsens the results)
        </mat-checkbox>
        <div style="margin-left: 40px;">
            <mat-expansion-panel [disabled]="!createHoldOutSplit" [(expanded)]="isAdvanceConfigurationExpanded">
                <mat-expansion-panel-header>
                    <mat-panel-title>Advanced Configuration</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field style="width: 100%;">
                    <mat-label>Percentage of Hold-Out split</mat-label>
                    <input matInput type="number" formControlName="holdOutSplitPercentage"/>
                    <mat-error>Percentage must be between 0 and 1</mat-error>
                </mat-form-field>
            </mat-expansion-panel>
        </div>
    </div>
</ng-template>
