<ng-container *ngIf="algorithmDefinition$ | async as algorithmDefinition" [formGroup]="importanceForm">

    <div class="box-name">
        Statistics
    </div>

    <div class="mb-3">
        <div class="settings-label">
            Color Scheme
        </div>
        <mat-form-field class="w-100 hide-mat-error-gap">
            <mat-select formControlName="colorScheme">
                <mat-option *ngFor="let colorD of statisticsService.colorDefinitions" [value]="colorD.name">
                    <div> {{ colorD.label }}</div>
                    <div style="display: flex; flex-direction: row;">
                        <div *ngFor="let color of colorD.colors" [style.background-color]="color"
                             style="width: 22px; height: 22px;">
                        </div>
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="mb-3">
        <div class="settings-label">
            Override Default Importance
        </div>
        <mat-checkbox formControlName="useUserDefinedImportance" color="primary">Use User Defined Importance
        </mat-checkbox>
    </div>

    <div *ngFor="let configGroup of algorithmDefinition.configurations | keyvalue" style="margin-top: 1rem;">
        <div class="settings-label">
            Importance of {{ configGroup.value.display_name }}
        </div>

        <table formGroupName="userDefinedImportance">
            <tr *ngFor="let optionGroup of configGroup.value.options | keyvalue">
                <td>
                    {{ optionGroup.value.display_name }}
                </td>
                <td>
                    <mat-radio-group [formControlName]="optionGroup.key" [id]="optionGroup.key">
                        <mat-radio-button *ngFor="let importance of Object.values(MetricImportance)"
                                          [value]="importance" color="primary">
                            {{ MetricImportanceData[importance].label }}
                        </mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
        </table>
    </div>
</ng-container>
