@import "../../../../styles/layout.less";

.card-sm {
    max-width: 40%;
}

.cinnamon-file-input-error {
    color: var(--mat-form-field-error-text-color);
    font-size: 12px;
    padding-left: 16px;
    margin-top: -10px;
    margin-bottom: 10px;
}
