<mat-form-field class="w-100">
    <mat-label>Search</mat-label>
    <input type="text" matInput [(ngModel)]="filterText"/>
</mat-form-field>


<div style="margin-top: -1rem;">
    <div *ngIf="(statistics$ | async) as statistics">
        <div *ngIf="(statistics.resemblance | statisticsFilter:filterText) as filteredAttributes">
            <div class="mb-2">Showing {{ filteredAttributes.filteredCount }}/ {{ filteredAttributes.originalCount }}
            </div>

            <div *ngFor="let attribute of filteredAttributes.filteredList" class="mb-2 border-top border-1">
                <div class="mt-2">
                    <app-data-inspection-attribute [attributeStatistics]="attribute" [sourceDataset]="sourceDataset"
                                                   [sourceProcess]="sourceProcess"></app-data-inspection-attribute>
                </div>
            </div>
        </div>
    </div>
</div>
