<div class="mb-2">
    <mat-form-field class="w-100">
        <mat-label>Search</mat-label>
        <input type="text" matInput [(ngModel)]="filterText"/>
    </mat-form-field>
</div>

<div>
    <div *ngIf="(dataConfiguration$ | async) as dataConfiguration">
        <div *ngFor="let attribute of dataConfiguration.configurations | columnConfigurationNameFilter:filterText"
             class="mb-2 border-top border-1">
            <div class="mt-2">
                <app-data-inspection-attribute [configuration]="attribute"></app-data-inspection-attribute>
            </div>
        </div>
    </div>
</div>
