<div style="margin-left: 0.5rem;">
    <div class="color-legend-item" style="margin-bottom: 1rem;">
        <div [style.background-color]="statisticsService.colors[0]" style="width: 20px; height: 20px;"></div>
        <div>Original</div>
    </div>
    <div style="display: flex; flex-direction: column;">
        <div *ngFor="let color of statisticsService.colors.slice(1); index as i" class="color-legend-item">
            <div [style.background-color]="color"></div>
            <div *ngIf="i == 0">Similar</div>
            <div *ngIf="i == statisticsService.colors.length - 2">Different</div>
        </div>
    </div>
</div>
